.wolf-item.wfull
	.wolf-item-inner, img
		float none
		display block
		margin-left auto
		margin-right auto

.hero--artnet
	.hero-overlay
		background-color rgba(#000,0.4)
	.parallax-image
		background-position: 0% 0% !important
		
.body--artnet
	.gallery li
		border 1px solid #f0f0f0