extends ../layouts/sublayout
block content
  //- include includes/triangles.jade
  include ../includes/header-light.pug
  #page-content.page-nyfw
    section#hero.hero-big.text-light
      //- .parallax-section.text-light(data-parallax-image='../img/twc/twc_03-large.gif')
  
      //- .hero-video
      //- img.img-for-small.hero-video(src='../img/twc/twc_04-small.png')
      video.hero-video(autoplay data-aload='../static/nyfw-pink.mp4' loop)
        //- source(src='cognizant.ogg', type='video/ogg')
        //- source(src='twc1.mp4', type='video/mp4')
        p Your browser does not support the 
          code video
          |  element.
      .hero-overlay.is-darker(style='background-color: RGBA(44, 132, 165, 0.8); mix-blend-mode: multiply;')
      .page-title.hleft
        h5.alttitle Design, Animation
        h1
          strong HEED
      //- a#scroll-down(href='#') Scroll Down

    section#page-body.body-heed
      .wrapper-small
        h4.align-center
          strong Offical App
        h6.alttitle.align-center of New York Fashion Week
        .column-section.clearfix
            p.align-center Fashion goes mobile. Designing the official app for NYFW highlighting live/exclusive content and commerce opportunities from the shows, designers and experts.
            p.align-center Accessible fashion was the core focus of the HEED app.  Bringing the runway, experts and commerce opportunities to mobile through live, continuous content and unique interaction design.

      .wrapper
        .spacer.spacer-medium
        .wolf-item.wfull
          .wolf-item-inner
            .wolf-media.portfolio-media
              img.has-animation(src='../img/nyfw/heed_01_large.jpg' alt='NYFW App')
        .wolf-item.wfull
          .wolf-item-inner
            .wolf-media.portfolio-media
              img.has-animation(src='../img/nyfw/heed_02_large.jpg' alt='NYFW App')
      .wrapper
        ul.single-pagination
          li.prev
            a(href='../../akc/')
              img(src='../../img/projects/akc-small.png', alt='prev')
              span Previous Projects
          li.backtoworks
            a(href='../') All Projects
          li.next
            a(href='../cognizant/design/')
              img(src='../img/projects/cognizant2-small.jpg', alt='next')
              span Next Project