footer.main-footer
  ul.social-list
    //- THINK ABOUT ELLO OR VSCO IN THE FUTURE
    li
      a(href="http://love.ky.la/" target='_blank') Dropmark
    li
      a(href="https://github.com/kylamedina" target='_blank') Github
    //- li
    //-   a(href="https://twitter.com/thebestkylaever" target='_blank') Twitter
    li
      a(href="https://www.behance.net/kylamedina" target='_blank') Behance
    li
      a(href="https://dribbble.com/kylamedina" target='_blank') Dribbble
    li
      a(href="mailto:hi@ky.la" target='_blank') Email