a#dark-logo.logotype(href='index.html')
  strong Kyla Medina
  //- img(src='svg/logo.svg' alt='Logo')
a#light-logo.logotype(href='index.html')
  //- img(src='svg/logo.svg' alt='Logo')
  strong.text-light Kyla Medina