.modal
  ul.modal-menu
    li.artnet
      h5: a(href='http://ky.la/artnet/')
        | Artnet Worldwide
    li.akc
      h5: a(href='http://ky.la/akc/')
        | American Kennel Club
    li.cognizant-design
      h5: a(href='http://ky.la/cognizant/design/')
        | Cognizant Design
    li.cognizant-ixd
      h5: a(href='http://ky.la/cognizant/ixd/')
        | Cognizant IxD
    
    li.ct
      h5: a(href='http://ky.la/creative-time/')
        | Creative Time
    li.esquire
      h5: a(href='http://ky.la/esquire/')
        | Esquire
    li.fa
      h5: a(href='http://ky.la/free-association/')
        | Free Association
    li.hwc
      h5: a(href='http://ky.la/hwc/')
        | Hard Workers Club
    li.kenna
      h5: a(href='http://ky.la/kenna/')
        | Kenna
    li.mkbl
      h5: a(href='http://ky.la/makeable/')
        | Makeable
    li.pid
      h5: a(href='http://ky.la/branding/')
        | Personal Branding
    //- li.sa
    //-   h5: a(href='http://ky.la/success-academy/')
    //-     | Success Academy
    li.twc
      h5: a(href='http://ky.la/the-weather-channel/')
        | The Weather Channel