.modal
  ul.modal-menu
    li.artnet
      h5: a(href='../artnet/')
        | Artnet Worldwide
    li.akc
      h5: a(href='../akc/')
        | American Kennel Club
    li.cognizant-design
      h5: a(href='../cognizant/design/')
        | Cognizant Design
    li.cognizant-ixd
      h5: a(href='../cognizant/ixd/')
        | Cognizant IxD
    
    //- li.ct
    //-   h5: a(href='../creative-time/')
    //-     | Creative Time
    li.esquire
      h5: a(href='../esquire/')
        | Esquire
    li.fa
      h5: a(href='../free-association/')
        | Free Association
    li.hwc
      h5: a(href='../hwc/')
        | Hard Workers Club
    li.mkbl
      h5: a(href='../makeable/')
        | Makeable
    li.pid
      h5: a(href='../branding/')
        | Personal Branding
    li.sa
      h5: a(href='../success-academy/')
        | Success Academy
    li.twc
      h5: a(href='../the-weather-channel/')
        | The Weather Channel