a.open-nav(href='#')
  span.hamburger
  span.text Menu
nav#main-nav
  ul
    li.home.current-menu-item
      a(href='/') Home
    li.projects
      a(href='/') Projects
      ul.submenu
        li.artnet
          a(href='artnet.html')
            | Artnet Worldwide
        li.akc
          a(href='akc.html')
            | American Kennel Club
        li.twc
          a(href='weather-channel.html')
            | The Weather Channel
        li.cognizant
          a(href='cognizant.html')
            | Cognizant
        li.esquire
          a(href='esquire.html')
            | Esquire
        li.mkbl
          a(href='mkbl.html')
            | Makeable
        li.pid
          a(href='personal-identity.html')
            | Personal Identity
        li.hwc
          a(href='hard-workers-club.html')
            | Hard Workers Club
        li.ct
          a(href='creative-time.html')
            | Creative Time
        li.sa
          a(href='success-academy.html')
            | Success Academy
        //- li.clear-li
        //-   a(href='clear.html')
        //-     | Clear
    li.about
      a(href='about.html') About
    //- li
    //-   a(href='blog.html') Blog

a.open-filter(href='', data-related-grid='portfolio-grid') Filter