extends layouts/layout

block content
	//- include includes/triangles.pug
	include includes/header-dark.pug
	#page-content.page-404
		section#hero.hero-full
			.page-title
				h2.alttitle 404
				video.video404(data-aload='404_2.mp4' preload="auto" autoplay loop  poster='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7')
				h1(style='margin-top:0')
					strong Page not Found
				.spacer.spacer-small
				p
					a.sr-button.sr-button1(href='/') Back to Home

