doctype html
html
  head

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Kyla Medina
    script.
      function aload(t){"use strict";t=t||window.document.querySelectorAll("[data-aload]"),void 0===t.length&&(t=[t]);var a,e=0,r=t.length;for(e;r>e;e+=1)a=t[e],a["LINK"!==a.tagName?"src":"href"]=a.getAttribute("data-aload"),a.removeAttribute("data-aload");return t}
    style.
      [data-aload] { background-image: none !important; }
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700,900', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700', rel='stylesheet', type='text/css')

    link#default-style-css(rel='stylesheet', href='./css/style.css', type='text/css', media='all')
    link#vendor-css(rel='stylesheet', href='./css/vendor.css', type='text/css', media='all')
    block head
  body
    .hidden
     include symbols.svg
    //- PAGELOADER
    #page-loader
      .page-loader-inner
        .loader
          strong Loading
    
    block content

    ul.social-list.has-animation
      li
        a(href="http://love.ky.la/" target='_blank') Dropmark
      li
        a(href="https://github.com/kylamedina" target='_blank') Github
      li
        a(href="https://twitter.com/kylamedina" target='_blank') Twitter
      li
        a(href="http://hardworkers.club/" target='_blank') Tumblr
      //- li
      //-   a(href="http://kylamedina.vsco.co/grid/1" target='_blank') VSCO
      li
        a(href="mailto:hi@ky.la" target='_blank') Email

    script(type='text/javascript', src='./js/vendor.js')
    script.
      window.onload = function () {
        aload();
      };
    block footer