extends layouts/layout

block content
	include includes/triangles.jade
	include includes/header-light.jade
	#page-content.page-404
		section#hero.hero-full
			.page-title
				h2.alttitle 404
				h1
					strong Page not Found
				h4.alttitle We can't seem to find what you're looking for
				.spacer.spacer-small
				p
					a.sr-button.sr-button2(href='index.html') Back to Home

