extends layouts/layout

block content
  section#hero.hero-big.parallax-section.text-light(data-parallax-image='img/projects/akc.jpg')
    .hero-overlay      
    .page-title.hleft
      h5.alttitle Design and Development
      h1
        strong American 
          br
          | Kennel Club
    a#scroll-down(href='#') Scroll Down

  section#page-body.body-akc
    .wrapper
      .wolf-grid.clearfix(data-mouseparallax='false')
        .wolf-item
          .wolf-item-inner
            .wolf-media.portfolio-media
              a.img-hover(href='img/akc/akc_01.jpg', data-rel='lightcase:akc')
                img(src='img/akc/akc_01_small.jpg', alt='AKC Marketplace Website Dog Listing')
    
        .wolf-item
          .wolf-item-inner
            .wolf-media.portfolio-media
              a.img-hover(href='img/akc/akc_02.jpg', data-rel='lightcase:akc')
                img(src='img/akc/akc_02.jpg', alt='AKC Marketplace Website Search Page')

        //- .wolf-item
        //-   .wolf-item-inner
        //-     .wolf-media.portfolio-media
        //-       a.img-hover(href='img/akc/akc_04.jpg', data-rel='lightcase:akc')
        //-         img(src='img/akc/akc_04.jpg', alt='AKC Marketplace Website Modules')

        .wolf-item.wfull
          .wolf-item-inner
            .wolf-media.portfolio-media
              img(src='img/akc/akc_05.jpg', alt='AKC Marketplace Mobile Site')

        .wolf-item.wfull(style='margin-bottom:0')
          .wolf-item-inner
            .wolf-media.portfolio-media
              a(href='img/akc/akc_03.jpg', data-rel='lightcase:akc')
               img(src='img/akc/akc_03.jpg', alt='AKC Marketplace Website Storefront')


    .wrapper
      h4.align-center
        strong App and Website
      h6.alttitle.align-center for the largest dog community in the world
      .column-section.clearfix.column-3
          p American Kennel Club approached Makeable with a series of projects that included an overhaul of their website, several apps with desktop experiences, and promotional sites for the apps. I have been involved in all of the projects in different capacities.
          p One of the projects that I was heavily involved in is Wooftale&mdash;lovingly deemed 'Facebook for Dogs'. I worked on the front-end of the Cordova / Angular app as well as the desktop experience and the promotional site. One of the most interesting parts of the app is creating shareable posts via HTML5's canvas. Using javascript to create the canvas, we were then able to export a PNG that was shareable to the feed as well as instagram and other social networks.
          p Another project I worked on was AKC Marketplace, an offshoot of the main site that allows vets, groomers, dog walkers, boards, breeders, and pet shops to create their own page to promote themselves to the AKC community. I did the design, matching the system created for the main site. After the main pages were created as PSDs. I moved to designing in the browser and lead front-end development.
    .wrapper
      .spacer.spacer-medium
      .owl-slider
        div
          img(src='img/akc/akc_06.jpg', alt='SEO Name')
          p(style='text-align:center;') Screens for the feed and creating a post.
        div
          img(src='img/akc/akc_07.jpg', alt='SEO Name')
          p(style='text-align:center;') Little known fact, my favorite dog is a Cairn Terrier, so I put one here for no other reason.

    .wrapper
      ul.single-pagination
        li.prev
          a(href='artnet.html')
            img(src='img/projects/artnet.jpg', alt='prev')
            span Previous Project
        li.backtoworks
          a(href='index.html') Back To Works
        li.next
          a(href='esquire.html')
            img(src='img/projects/esquire.jpg', alt='next')
            span Next Project



