extends layouts/layout

block content
  include includes/triangles.jade
  include includes/header-light.jade
  #page-content.page-artnet
    section#hero.hero-full.parallax-section.text-light.hero--artnet(data-parallax-image='img/projects/artnet-large.jpg')
      .hero-overlay
      .page-title
        h5.alttitle Design and Development
        h1
          strong Artnet
      //- a#scroll-down(href='#') Scroll Down
    section#page-body.body--artnet
      //- .wrapper-medium
      //-   .column-section.clearfix
      //-     .column.one-third
      //-       h6.colored
      //-         strong Client
      //-       h6.alttitle Artnet
      //-     .column.one-third
      //-       h6.colored
      //-         strong Project Details
      //-       h6.alttitle Marketing
      //-     .column.one-third.last-col
      //-       h6.colored
      //-         strong Role
      //-       h6.alttitle Designer and Developer
      //- .spacer.spacer-big
      //- .horizontal-section(style='background:#f7f7f7;')
      .horizontal-section
        .horizontal-inner.wrapper-mini
          h3
            strong Design Lead
          h6.alttitle for an international art website.

          .column-section.clearfix
              p
                | Artnet enables users to buy, sell, and research fine art, design, and decorative art online from the most recognized artists in the world. The company associates itself with high-end fashion and lifestyle brands and does many collaborations with its partners.
              p
                | I planned, designed, and coded all of Artnet's marketing campaigns as their lead designer for a year and a half. Finished products included websites, emails, new site features, and printed materials.
      .spacer.spacer-medium
      .wrapper.xtra-wide
        ul.gallery.gallery-col3.spaced
          li.has-animation
            a.img-hover(href="img/artnet/artnet_01-large.jpg" data-rel="lightcase:artnet" )
              img(data-aload='img/artnet/artnet_01-medium.jpg', srcset="img/artnet/artnet_01-small.jpg 640w, img/artnet/artnet_01-large.jpg 850w" alt='Artnet Newsletter')
          li.has-animation(data-delay='200')
            a.img-hover(href="img/artnet/artnet_03-large.jpg" data-rel="lightcase:artnet" )
              img(data-aload='img/artnet/artnet_03-medium.jpg', srcset="img/artnet/artnet_03-small.jpg 640w, img/artnet/artnet_03-large.jpg 850w" alt='Artnet Marketing Photograph')
          li.has-animation(data-delay='400')
            a.img-hover(href="img/artnet/artnet_02-large.jpg" data-rel="lightcase:artnet" )
              img(data-aload='img/artnet/artnet_02-medium.jpg', srcset="img/artnet/artnet_02-small.jpg 640w, img/artnet/artnet_02-large.jpg 850w" alt='Artnet Auction Landing Page')
      .wrapper
        ul.single-pagination
          li.prev
            a(href='clear.html')
              img(src='img/projects/clear-small.jpg', alt='prev')
              span Previous Project
          li.backtoworks
            a(href='index.html') Back To Works
          li.next
            a(href='akc.html')
              img(src='img/projects/akc-small.png', alt='next')
              span Next Project
