extends layouts/layout

block content
  //- include includes/triangles.jade
  include includes/header-light.jade
  #page-content.page-artnet
    section#hero.hero-full.parallax-section.text-light.hero--artnet(data-parallax-image='img/projects/artnet-large.jpg')
      .hero-overlay
      .page-title
        h5.alttitle Design and Development
        h1
          strong Artnet
      //- a#scroll-down(href='#') Scroll Down
    section#page-body.body--artnet

      .horizontal-section
        .wrapper.xtra-wide
          ul.gallery.gallery-col3.spaced
            li.has-animation
              a.img-hover(href="img/artnet/artnet_01-large.jpg" data-rel="lightcase:artnet" )
                img(data-aload='img/artnet/artnet_01-medium.jpg', srcset="img/artnet/artnet_01-small.jpg 640w, img/artnet/artnet_01-large.jpg 850w" alt='Artnet Newsletter')
            li.has-animation(data-delay='200')
              a.img-hover(href="img/artnet/artnet_03-large.jpg" data-rel="lightcase:artnet" )
                img(data-aload='img/artnet/artnet_03-medium.jpg', srcset="img/artnet/artnet_03-small.jpg 640w, img/artnet/artnet_03-large.jpg 850w" alt='Artnet Marketing Photograph')
            li.has-animation(data-delay='400')
              a.img-hover(href="img/artnet/artnet_02-large.jpg" data-rel="lightcase:artnet" )
                img(data-aload='img/artnet/artnet_02-medium.jpg', srcset="img/artnet/artnet_02-small.jpg 640w, img/artnet/artnet_02-large.jpg 850w" alt='Artnet Auction Landing Page')
        .horizontal-inner.wrapper-small
          h3
            strong Designer
          h6.alttitle for an international art website.

          .column-section.clearfix
              p Artnet enables users to buy, sell, and research fine art online from the most recognized artists in the world. Artnet associates itself with high-end fashion and lifestyle brands and does many collaborative design projects with those partners.
              p As part of Artnet’s marketing team, I was lead designer on all digital and print design initiatives. I worked alongside strategists and copywriters to ideate and create new marketing campaigns for Artnet and its partners. Finished products included digital and print collateral, email campaigns, and websites. I also developed the digital marketing campaigns and worked with the technology team to create the UX and design for new site features.
      //- .wrapper
      //-   .spacer.spacer-medium
      //-   .wolf-grid.clearfix(data-mouseparallax='false')
      //-     .wolf-item(data-speed="0")
      //-       .wolf-item-inner
      //-         .wolf-media.portfolio-media
      //-           a.img-hover.img-shadow(href="img/artnet/artnet_01-large.jpg" data-rel="lightcase:artnet" )
      //-             img(data-aload='img/artnet/artnet_01-medium.jpg', srcset="img/artnet/artnet_01-small.jpg 640w, img/artnet/artnet_01-large.jpg 850w" alt='Artnet Newsletter')
      //-     .wolf-item(data-speed="1")
      //-       .wolf-item-inner
      //-         .wolf-media.portfolio-media
      //-           a.img-hover.img-shadow(href="img/artnet/artnet_03-large.jpg" data-rel="lightcase:artnet" )
      //-             img(data-aload='img/artnet/artnet_03-medium.jpg', srcset="img/artnet/artnet_03-small.jpg 640w, img/artnet/artnet_03-large.jpg 850w" alt='Artnet Marketing Photograph')
      //-     .wolf-item(data-speed="1.2")
      //-       .wolf-item-inner
      //-         .wolf-media.portfolio-media
      //-           a.img-hover.img-shadow(href="img/artnet/artnet_02-large.jpg" data-rel="lightcase:artnet" )
      //-             img(data-aload='img/artnet/artnet_02-medium.jpg', srcset="img/artnet/artnet_02-small.jpg 640w, img/artnet/artnet_02-large.jpg 850w" alt='Artnet Auction Landing Page')



      .wrapper
        ul.single-pagination
          li.prev
            a(href='hard-workers-club.html')
              img(src='img/projects/hwc-small.jpg', alt='prev')
              span Previous Project
          li.backtoworks
            a(href='/') Back To Works
          li.next
            a(href='akc.html')
              img(src='img/projects/akc-small.png', alt='next')
              span Next Project
