extends layouts/layout

block content
  section#hero.hero-auto
    .page-title.wrapper
      #wolf-title.wolf-grid.clearfix
        .wolf-item.wfull.wright.wolf-text.text-light(data-speed='2')
          .wolf-item-inner
            .wolf-media
              img(src='img/projects/clear.jpg', alt='SEO NAME')
            .wolf-caption.ctop(style='width:50%;')
              h5.alttitle Front-End Development
              h1
                strong Clear
  section#page-body.nopadding
    .wrapper-mini
      h6
        strong Project Details
      p CLEAR is the fastest and easiest way to get through airport security. They approached Makeable asking for a communication solution to eloquently express their services in order to bring in new members. We created a Wordpress site for them and I did the front-end and designed a few of the elements.
      p
        a(href='https://clearme.com/')
          strong Visit Site
    .spacer.spacer-big
    div.clear-caption-1
      //- .wrapper-mini
      //-   p CLEAR's customer bases is highly mobile. It's imperative that the site work and function the same in mobile as well as desktop browsers. The site features an interactive map using the Google Maps API, parallax scrolling, and unique interactive features.
      .clear-caption__container
        p CLEAR's customer base is highly mobile and it's imperative that the site functions the same in all browsers. The site also features an interactive map using the Google Maps API, parallax scrolling, and unique interactive features.
    .spacer.spacer-big
    .wrapper
      ul.gallery.gallery-col1
        li.has-animation.browser-chrome.is-large
          img.browser-shadow(src='img/clear/clear_05.png', alt='SEO NAME')
   
    .wrapper
      ul.single-pagination
        li.prev
          a(href='success-academy.html')
            img(src='img/projects/sa.jpg', alt='prev')
            span Previous Project
        li.backtoworks
          a(href='index.html') Back To Works
        li.next
          a(href='artnet.html')
            img(src='img/projects/artnet.jpg', alt='next')
            span Next Project
