extends layouts/layout

block content
  //- include includes/triangles.jade
  include includes/header-dark.jade
  #page-content.page-esquire
    section#hero.hero-auto
      .page-title.wrapper
        #wolf-title.wolf-grid.clearfix
          .wolf-item.wfull.wright.wolf-text(data-speed='2')
            .wolf-item-inner
              .wolf-media
                img(src='img/esquire/esquire_01-medium.jpg' srcset="img/esquire/esquire_01-small.jpg 640w, img/esquire/esquire_01-medium.jpg 800w, img/esquire/esquire_01-large.jpg 1600w" alt='Esquire We Build Men Project Header Image')
              .wolf-caption.ctop(style='width:60%;')
                h5.alttitle Design and Development
                h1
                  strong Esquire
    section#page-body.nopadding
      .wrapper-mini
        h6
          strong Project Details
        p
          | Esquire partnered with Makeable in a mission to revolutionize mentorship for young men. The partnership created a site with the tools and support platform necessary for mentors. I designed the layout and interactivity for this Webby-nominated site.
        h6
          strong Links
        p
          a(href='http://webuildmen.org' target='_blank') We Build Men
          br
          a(href='http://from.ky.la/1l8f5' target='_blank') New York Times

      .spacer.spacer-medium
      .wrapper
        ul.gallery.gallery-col2.spaced
          li.has-animation.browser-chrome

              a.img-hover.browser-shadow(href='./img/esquire/esquire_02-large.jpg', data-rel='lightcase:akc')
                img(data-aload='./img/esquire/esquire_02-medium.jpg' srcset="img/esquire/esquire_02-small.jpg 640w, img/esquire/esquire_02-medium.jpg 800w, img/esquire/esquire_02-large.jpg 1480w" alt='Esquire We Build Men Post Page')
          li.has-animation.browser-chrome
             a.img-hover.browser-shadow(href='./img/esquire/esquire_03-large.jpg', data-rel='lightcase:akc')
               img(data-aload='./img/esquire/esquire_03-medium.jpg' srcset="img/esquire/esquire_03-small.jpg 640w, img/esquire/esquire_03-medium.jpg 800w, img/esquire/esquire_03-large.jpg 1480w" alt='Esquire We Build Men All Posts Page')
      //-   ul.gallery.spaced
      //-     li.has-animation
      //-       img(src='./uploads/1100x600-light.jpg', alt='SEO NAME')
      //-   ul.gallery.gallery-col2.spaced
      //-     li.has-animation
      //-       img(src='./uploads/600x400-light.jpg', alt='SEO NAME')
      //-     li.has-animation(data-delay='200')
      //-       img(src='./uploads/600x400-light.jpg', alt='SEO NAME')
      .wrapper
        ul.single-pagination
          li.prev
            a(href='cognizant-IxD.html')
              img(src='img/projects/cognizant-small.jpg', alt='prev')
              span Previous Project
          li.backtoworks
            a(href='/') Back To Works
          li.next
            a(href='creative-time.html')
              img(src='img/projects/ct-small.png', alt='next')
              span Next Project
