extends layouts/layout

block head
	style#animations-styles

block content
	//- include includes/triangles.jade
	include includes/header-light.jade
	#page-content.page-FA
		section#hero.hero-big.parallax-section.text-light.theme-blue
			//- .hero-overlay
			include includes/header-bg.svg
			include includes/shape-triangle.svg
			include includes/shape-line.svg
			include includes/shape-line2.svg
			include includes/shape-circle.svg
			.page-title
				h5.alttitle Interaction Design and Photography
				h1
					strong Free Association

		section#page-body.FA-body
			
			.wrapper-small
				h4.align-center
					strong Animation and Photography
				h6.alttitle.align-center for a design agency redesign.
				.column-section.clearfix
						p Free Association is a user experience design studio that helps ambitious companies create next generation products and services. I was brought in during their site redesign for my skills in photography and interaction design.

			.wrapper
				.spacer.spacer-big
				.wolf-grid.clearfix(data-mouseparallax='true' data-randomhorizontaloffset='true')
					.wolf-item.no-mobile-video
						.wolf-item-inner
							.wolf-media.portfolio-media
								//- <blockquote class="instagram-media" data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://instagram.com/p/9wrQQmqU6C/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A video posted by Sara T (@sar_mar)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-11-06T22:43:34+00:00">Nov 6, 2015 at 2:43pm PST</time></p></div></blockquote>
								//- <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
								a.img-hover(href='FA-strobe.mp4', data-rel='lightcase:FA')
									.loader
									//- img.img-for-small(data-aload='img/FA/cog_03-small.jpg' alt='Slider Functionality')
									video(data-aload='FA-strobe.mp4' preload="auto" autoplay loop)
										//- source(src='FA.ogg', type='video/ogg')
										//- source(src='FA9.mp4', type='video/mp4')
										p Your browser does not support the 
											code video
											|  element.

					.wolf-item.is-caption(data-speed="-1")
						.wolf-item-inner
								p.figcaption Free Association consulted me on setting a photo studio for their agency. I made purchase recommendations and set up the lighting and equipment for the studio. The Instagram gif shows me testing the strobes.
					.wolf-item.is-caption.is-caption--right(data-speed="-1")
						.wolf-item-inner
							//- .figcaption
							//- 	p I set up the lighting for their first shoot, portraits for their new site, to accomplish fashion-esque dramatic lighting. The Instagram shows an example of that photo shoot.
					.wolf-item
						.wolf-item-inner
							.wolf-media.portfolio-media
								<blockquote class="instagram-media" data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:26.1707988981% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://instagram.com/p/96epzuqU4t/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A photo posted by Sara T (@sar_mar)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-11-10T18:05:52+00:00">Nov 10, 2015 at 10:05am PST</time></p></div></blockquote>
								<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
								.figcaption(style='position:relative;top:30px;')
									p I set up the lighting for their first shoot, portraits for their new site, to accomplish fashion-esque dramatic lighting. The Instagram shows an example of that photo shoot.
								//- a.img-hover.browser-shadow(href='img/FA/cog_10-medium.gif'  data-rel='lightcase:FA')
								//- 	.loader
								//- 	img(data-aload='img/FA/cog_10-medium.gif' srcset="img/FA/cog_10-small.gif 640w, img/FA/cog_10-medium.gif 800w, img/FA/cog_10-large.gif 1280w" alt='Share Functionality')

			//- 		.wolf-item
			//- 			.wolf-item-inner
			//- 				.wolf-media.portfolio-media.browser-chrome(style='height:auto;')
			//- 					a.img-hover.browser-shadow(href='cog_02.gif', data-rel='lightcase:FA' style='min-height:auto;') 
			//- 						.loader
			//- 						img(src='img/FA/cog_09-medium.gif' srcset="img/FA/cog_09-small.gif 640w, img/FA/cog_09-medium.gif 800w, img/FA/cog_09-large.gif 1280w" alt='Search Functionality')
			//- 				.figcaption(style='margin-top:30px;'): p  I wanted the site to feel as natural as possible creating hierarchy to guide the user's attention. The best way to do that is use actual physics to create the animations which Velocity.js supports. A higher tension increases total speed and bounciness. A lower friction increases ending vibration speed. I created this Codepen to demonstrate the physics involved in the&nbsp;animations.

			//- .wrapper.xtra-wide
			//- 	.spacer.spacer-big
			//- 	ul.gallery.gallery-col1
			//- 		li.has-animation
			//- 			img(data-aload="img/FA/cog_03-medium.jpg" srcset="img/FA/cog_03-small.jpg 640w, img/FA/cog_03-medium.jpg 800w, img/FA/cog_03-large.jpg 2250w" alt="")
			//- 		li.has-animation
			//- 			.figcaption: p  I did mobile design in-browser, significantly speeding up the workflow. We showed working comps to the client, making it much easier for them to understand and faster to approve. 

			.wrapper
				.spacer.spacer-big
				ul.single-pagination
					li.prev
						a(href='weather-channel.html' style='background:url("img/twc/rain.gif");background-size:cover;background-position: 50% 100%;')
							img(src='img/projects/twc2.png', alt='prev')
							span Previous Project
					li.backtoworks
						a(href='/') Back To Works
					li.next
						a(href='personal-identity.html')
							img(src='img/kyla/kyla_05-small.jpg', alt='next')
							span Next Project

block footer
	script
		:coffee-script
			head.ready ->
				$shape = $('.svg-shape')
				$circle = $('#circle')
				$triangle = $('#triangle')
				$line = $('#line')
				$bg_s1 = $('#linearGradient-bg1 .stop-1')
				$bg_s2 = $('#linearGradient-bg1 .stop-2')
				lineHeight = ($('.hero-big').width()*2)

				resizeTimer = undefined

				findLineHeight = ->
					lineHeight = ($('.hero-big').width()*2)
					$('#line, #line2')
						.attr('height', lineHeight + 'px')
						.attr('viewbox','0 0 7 ' + lineHeight)
						.find('rect')
						.attr('height',lineHeight)

				bgColorGradient = (color1,color2) ->
					$bg_s1.attr('stop-color', color1)
					$bg_s2.attr('stop-color', color2)

				theme1 = () ->
					shapeStyles = ''
					n = $(window).width()/2
					m = $(window).width()/3

					shapeStyles = '#circle {
							left:' + n + 'px;
							top: 173px;
							-webkit-transform: rotate(0deg);
							transform: rotate(0deg);
						}
						#line {
						left:' + m + 'px;
						-webkit-transform: rotate(35deg);
						transform: rotate(35deg);
						}
						#triangle {
						left: -34px;
						bottom: -30px;
						-webkit-transform: rotate(-35deg);
						transform: rotate(-35deg);
						}'
					$('#animations-styles').text('').text(shapeStyles)
					bgColorGradient('#409CF9','#37F6E1')
					$('.hero-big').removeClass('theme-green theme-purple').addClass('theme-blue')
				theme2 = () ->
					shapeStyles = ''
					n = -$circle.height()*2
					m = $(window).width()/1.8
					if $(window).width() > 1600
						m = $(window).width()/1.6
					o = $(window).width()-$triangle.width()

					shapeStyles = '#circle {
							left:' + n + 'px;
							top: 152px;
							-webkit-transform: rotate(-10deg);
							transform: rotate(-10deg);
						}
						#line {
							left:' + m + 'px;
							top: -50px;
							-webkit-transform: rotate(-35deg);
							transform: rotate(-35deg);
						}
						#triangle {
							left:' + o + 'px;
							bottom: -10px;
							-webkit-transform: rotate(50deg);
							transform: rotate(50deg);
						}'
					$('#animations-styles').text('').text(shapeStyles)
					bgColorGradient('#BC68FF','#4B88FA')
					$('.hero-big').removeClass('theme-blue theme-green').addClass('theme-purple')

				theme3 = () ->
					shapeStyles = ''
					n = -$(window).width()/2
					m = $('.hero-big').height()/2
					o = $(window).width()
					p = $('.hero-big').height()/5
					if $(window).height() > 800
						p = $('.hero-big').height()/3
					
					shapeStyles = '#circle {
						left:' + n + 'px;
						top:' + m + 'px;
						-webkit-transform: rotate(240deg);
						transform: rotate(240deg);
						}
						#line {
						left:' + o + 'px;
						top: -20px;
						-webkit-transform: rotate(35deg);
						transform: rotate(35deg);
						}
						#triangle {
							left: -124px;
							bottom: '+ p + 'px;
							-webkit-transform: rotate(43deg);
							transform: rotate(43deg);
						}'
					$('#animations-styles').text('').text(shapeStyles)
					bgColorGradient('#00F0C7','#ADFFA5')
					$('.hero-big').removeClass('theme-blue theme-purple').addClass('theme-green')

				logoPosition = () ->
					shapeStyles = ''
					# $line.clone().attr('id', 'line2').appendTo('header.header')
					ww = $(window).width()
					ww2 = $(window).width()/2
					wh = $('.hero-big').height() 
					wh2 = $('.hero-big').height()/2
					tw = $triangle.width()
					th = $triangle.height()
					cw = $circle.height()*1.23
					circleHorizontalCenter = ww2 - (cw/2)
					circleVerticalCenter = wh2 - (cw/2)
					triangleHorizontalCenter = ww2 - (tw/2)
					triangleVerticalCenter = wh2 - (360/2)
					lineTop1 = wh2-85
					lineTop2 = wh2+20
					lineLeft1 = ww2*3 - 85
					lineLeft2 = ww2 + 150

					shapeStyles = '#circle {
							width:' + cw + 'px;
							height:' + cw + 'px;
							left:' + circleHorizontalCenter + 'px;
							top:' + circleVerticalCenter + 'px;
							transform-origin: 50% 50%;
							-webkit-transform: rotate(0deg);
							transform: rotate(0deg);
						}
						#line {
							top:' + lineTop1 + 'px;
							left: ' + lineLeft1 + 'px;
							height: ' + ww + 'px;
							transform-origin: 0% 0%;
							-webkit-transform: rotate(90deg);
							transform: rotate(90deg);
						}
						#line2 {
							top:' + lineTop2 + 'px;
							left: ' + lineLeft2 + 'px;
							height: ' + ww + 'px;
							transform-origin: 0% 0%;
							-webkit-transform: rotate(90deg);
							transform: rotate(90deg);
						}
						#triangle {
							left:' + triangleHorizontalCenter + 'px;
							bottom:' + triangleVerticalCenter + 'px;
							-webkit-transform: rotate(0deg);
							transform: rotate(0deg);
						}'
					$('#animations-styles').text('').text(shapeStyles)
					$('.svg-shape').css('opacity','1')


				showLogo = () ->
					$('.page-title').on 'mouseover', ->
						if !head.touch
							clearInterval(window.themeInteraval)
							logoPosition()
							# $('.page-title').css 'opacity', '0'
							$('#line2').css 'opacity', '1'
							$('#line').attr('width','7').find('rect').attr('width','7')
							$('#line2').attr('width','4').find('rect').attr('width','4')
							$('#circle').find('g').attr('stroke-width','4')
							$('#triangle').find('g g').attr('stroke-width','4')
							$('.svg-shape').css('opacity','0.6')
					$('.page-title').on 'mouseout', ->
						if !head.touch
							# $('.page-title').css 'opacity', '1'
							$('.svg-shape').not('#line2').css('opacity','1')
							$('#line2').css 'opacity', '0'
							$('#line, #line2').attr('width','3').find('rect').attr('width','3')
							$('#circle').find('g').attr('stroke-width','3')
							$('#triangle').find('g g').attr('stroke-width','3')
							$('.svg-shape').css('opacity','1')
							switchHeader()
							window.themeInteraval

				$(window).on 'resize', (e) ->
					clearTimeout resizeTimer
					resizeTimer = setTimeout((->
						lineHeight = ($('.hero-big').width()*2)
						findLineHeight()
						return
					), 250)
					return

				$(document).on 'ready', (event) ->
					console.log $circle.height()
					lineHeight = ($('.hero-big').width()*2)

					$('.svg-shape').not('#line2').css('opacity','1')
					findLineHeight()
					theme1()
					showLogo()
					window.i = 0
					window.themeInteraval = setInterval (->
						switch window.i
							when 0 then theme1() 
							when 1 then theme2() 
							when 2 then theme3() 
								
						window.i++
						if window.i > 2
							window.i = 0
						), 6000