extends layouts/layout

block content
  //- include includes/triangles.jade
  - var layout = 0
  include includes/header.jade
  img.video-cover(data-aload='static/bg3.gif')
  #page-content.page-home
    //- img.profile-pic(src="img/profile-medium.jpg" srcset="img/profile-small.jpg 640w, img/profile-medium.jpg 700w, img/profile-large.jpg 1880w" alt="Profile Photo" data-stellar-ratio="1.8")
    
    section#hero.hero-full
      img.video-cover(data-aload='./static/bg3.gif')
      .white-background
        .big-logo.layer(data-stellar-ratio="1" data-depth="2.00").
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><style>.st0{fill:#333}.st1{fill:url(#XMLID_3_)}</style><path id="XMLID_90_" class="st0" d="M1.8 89.4l44.9-77.8 44.9 77.8z"/><linearGradient id="XMLID_3_" gradientUnits="userSpaceOnUse" x1="65.463" y1="-436.79" x2="91.603" y2="-482.067" gradientTransform="translate(0 504)"><stop offset="0" stop-color="#fe7988"/><stop offset=".196" stop-color="#cf587e"/><stop offset=".415" stop-color="#573590"/><stop offset=".591" stop-color="#273d97"/><stop offset=".773" stop-color="#2d3868"/><stop offset=".913" stop-color="#313442"/><stop offset="1" stop-color="#333"/></linearGradient></svg>
      //- fill:url(#XMLID_3_2)
      
      .page-title.hleft.homepage-title
        h1
            //- | Super Famous
            | Designer &amp; 
            br
            | Developer
            //- | Digital
            //- br
            //- | Creative
            //- | Never Sleepy
            //- a(alt='' href='about/').colored designer &amp; Developer
            //- |  working
            //- | in 
            //- br
            //- span.colored in sunny New York&nbsp;City.
            //- span(style='font-size: 20px;position:relative;top:1px;') &#9650;
      //- small NW YRK CTY'
      .big-logo.layer(data-stellar-ratio="1" style='opacity:1;' data-depth="2.00").
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><style>.sts0{fill:#333;opacity:0;}.st1{fill:url(#XMLID_3_2)}</style><path id="XMLID_90_" class="sts0" d="M1.8 89.4l44.9-77.8 44.9 77.8z"/><linearGradient id="XMLID_3_2" gradientUnits="userSpaceOnUse" x1="65.463" y1="-436.79" x2="91.603" y2="-482.067" gradientTransform="translate(0 504)"><stop offset="0" stop-color="#fe7988"/><stop offset=".196" stop-color="#cf587e"/><stop offset=".415" stop-color="#573590"/><stop offset=".591" stop-color="#273d97"/><stop offset=".773" stop-color="#2d3868"/><stop offset=".913" stop-color="#313442"/><stop offset="1" stop-color="#333"/></linearGradient><path id="XMLID_180_" class="st1 img-shadow" d="M45.9 55.9L72 10.6l26.2 45.3z"/></svg>
    section#page-body.nopadding
      .spacer.spacer-big
      .spacer.spacer-medium

      .wrapper.wrapper-huge
        #portfolio-grid.wolf-grid.clearfix(data-randomhorizontaloffset='true', data-mouseparallax='true')
          
          
          .wolf-item.portfolio-wolf-item.frontend.design.photo.project-hwc
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(alt='hard workers club' href='hwc/')
                  img(src='img/projects/hwc-medium.jpg' alt='Hard Workers Club')
              .wolf-caption.portfolio-caption(style='margin-top:10%;')
                a.wolf-caption-link(alt='hard workers club' href='hwc/')
                  h6.alttitle.portfolio-category Design and Photography
                  h4.portfolio-name
                    strong Hard Workers Club
          .wolf-item.portfolio-wolf-item.frontend.design.project-cognizant
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(alt='cognizant' href='cognizant/design/')
                  //- img(src='img/projects/cognizant2-small.jpg' srcset="img/projects/cognizants-small.jpg 640w, img/projects/cognizant2-medium.jpg 800w, img/projects/cognizant2-large.jpg 1200w" alt='Cognizant Modular Design System')
                  img(src='img/projects/cognizant2-medium.jpg' alt='Cognizant Modular Design System')
              .wolf-caption.portfolio-caption(style='margin-left:0%;margin-bottom:20%;')
                a.wolf-caption-link(alt='cognizant' href='cognizant/design/')
                  h6.alttitle.portfolio-category Design
                  h4.portfolio-name
                    strong Cognizant

          .wolf-item.portfolio-wolf-item.photo.project-kenna
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(alt='artnet' href='kenna/')
                  img(src='../img/kenna/kenna_06-large.jpg' alt='kenna Photo')
              .wolf-caption.portfolio-caption
                a.wolf-caption-link(alt='kenna' href='kenna/')
                  h6.alttitle.portfolio-category Photography
                  h4.portfolio-name
                    strong Kenna
          .wolf-item.portfolio-wolf-item.frontend.design.project-artnet
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(alt='artnet' href='artnet/')
                  img(src='img/projects/artnet-medium.jpg' alt='Artnet Photo')
              .wolf-caption.portfolio-caption
                a.wolf-caption-link(alt='artnet' href='artnet/')
                  h6.alttitle.portfolio-category Design
                  h4.portfolio-name
                    strong Artnet Worldwide
          .wolf-item.portfolio-wolf-item.design.project-me
            .wolf-item-inner.no-mobile-video
              .wolf-media.portfolio-media
                a.wolf-media-link(alt='personal identity' href='branding/')
                  img(src='static/branding01-small.gif' alt='Branding iPad')
                  //- video(data-aload='static/branding01-small.mp4' alt='Personal Branding' loop)
              .wolf-caption.portfolio-caption(style='margin-top: 10%;')
                a.wolf-caption-link(alt='personal identity' href='branding/')
                  h6.alttitle.portfolio-category Design
                  h4.portfolio-name
                    strong Personal Branding
          
          .wolf-item.portfolio-wolf-item.frontend.design.project-akc
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(alt='akc' href='akc/')
                  //- img(src='img/projects/akc-small.png' srcset="img/projects/akc-small.png 640w, img/projects/akc-medium.png 800w, img/projects/akc-large.png 1480w" alt='American Kennel Club Projects')
                  img(src='img/projects/akc-small.png' alt='American Kennel Club Projects')
              .wolf-caption.portfolio-caption(style='margin-bottom: 15%;')
                a.wolf-caption-link(alt='akc' href='akc/')
                  h6.alttitle.portfolio-category Design and Development
                  h4.portfolio-name
                   strong
                     | American
                     br
                     | Kennel Club
          .wolf-item.portfolio-wolf-item.design.photo.project-mkbl
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(alt='Makeable' href='makeable/')
                  img(src='img/projects/mkbl-medium.jpg' alt='Makeable Portfolio Header Image')
              .wolf-caption.portfolio-caption(style='margin-left:-34%;margin-bottom:0%;')
                a.wolf-caption-link(alt='Makeable' href='makeable/')
                  h6.alttitle.portfolio-category Design and Photography
                  h4.portfolio-name
                    strong Makeable
          .wolf-item.portfolio-wolf-item.frontend.design.project-cognizant
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(alt='cognizant' href='cognizant/ixd/')
                  img(src='img/projects/cognizant-medium.jpg' alt='Cognizant Latest Thinking Header Image')
              .wolf-caption.portfolio-caption(style='margin-left:-20%;margin-bottom:20%;')
                a.wolf-caption-link(alt='cognizant' href='cognizant/ixd/')
                  h6.alttitle.portfolio-category Prototyping, Design, and Development
                  h4.portfolio-name
                    strong Cognizant

          .wolf-item.portfolio-wolf-item.photo.design.project-fa
            .wolf-item-inner
              .wolf-media.portfolio-media.rolling-gradient
                a.wolf-media-link(alt='free association' href='free-association/')
                  img(src='svg/FA-logo.svg' alt='Free Association Homepage')
              .wolf-caption.portfolio-caption(style='margin-top: 10%;')
                a.wolf-caption-link(alt='free association' href='free-association/')
                  h6.alttitle.portfolio-category Photography
                  h4.portfolio-name
                    strong Free Association
          .wolf-item.portfolio-wolf-item.frontend.project-twc
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(alt='weather channel' href='the-weather-channel/')
                  div(style='background:url("img/twc/rain.gif");background-size:cover;background-position: 50% 100%;display:inline-block;')
                   img(src='img/projects/twc.png', alt='Weather Channel App Header Image')
              .wolf-caption.cbottom.portfolio-caption(style='margin-top:300px;margin-right:-100px')
                a.wolf-caption-link(alt='weather channel' href='the-weather-channel/')
                  h6.alttitle.portfolio-category Prototyping
                  h4.portfolio-name
                    strong Weather Channel

          .wolf-item.portfolio-wolf-item.frontend.design.project-esquire
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(alt='esquire' href='esquire/')
                  img(src='img/projects/esquire-medium.jpg' alt='Esquire Kid')
              .wolf-caption.portfolio-caption(style='margin-top: 0%;')
                a.wolf-caption-link(alt='esquire' href='esquire/')
                  h6.alttitle.portfolio-category Design
                  h4.portfolio-name
                    strong Esquire
          .wolf-item.portfolio-wolf-item.photo.project-ct
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(alt='creative time' href='creative-time/')
                  img(src='img/projects/ct-medium.png' srcset="img/projects/ct-small.png 640w, img/projects/ct-medium.png 800w, img/projects/ct-large.png 1127w" alt='Nick Cave Creative Time')
              .wolf-caption.portfolio-caption
                a.wolf-caption-link(alt='creative time' href='creative-time/')
                  h6.alttitle.portfolio-category Photography
                  h4.portfolio-name
                    strong Creative Time
          //- .wolf-item.portfolio-wolf-item.frontend.design.photo.project-hwc.hide-item-portfolio(style='opacity:0')
          //-   .wolf-item-inner
          //-     .wolf-media.portfolio-media
          //-       a.wolf-media-link(alt='hard workers club' href='hwc/')
          //-         img(src='img/projects/hwc-medium.jpg' alt='Hard Workers Club')
          //-     .wolf-caption.portfolio-caption(style='margin-top:10%;')
          //-       a.wolf-caption-link(alt='hard workers club' href='hwc/')
          //-         h6.alttitle.portfolio-category Design and Photography
          //-         h4.portfolio-name
          //-           strong Hard Workers Club
          .wolf-item.portfolio-wolf-item.design.project-sa
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(alt='' href='success-academy/')
                  img(src='img/sa/sa_02-medium.jpg' alt='Success Academy Jobs')
              .wolf-caption.portfolio-caption
                a.wolf-caption-link(alt='' href='success-academy/')
                  h6.alttitle.portfolio-category Strategy, UX, Design
                  h4.portfolio-name
                    strong Success Academy
          .wolf-item.portfolio-wolf-item.photo.project-intrepid
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(alt='' href='intrepid/')
                  img(src='img/projects/intrepid-medium.jpg' alt='Intrepid Sea, Air, and Space Museum')
              .wolf-caption.portfolio-caption
                a.wolf-caption-link(alt='' href='intrepid/')
                  h6.alttitle.portfolio-category Photography
                  h4.portfolio-name
                    strong Intrepid Sea, Air,
                      br
                      | and Space Museum
          
          
          

  

          //- .wolf-item.portfolio-wolf-item.frontend.project-clear
          //-   .wolf-item-inner
          //-     .wolf-media.portfolio-media
          //-       a.wolf-media-link(alt='' href='clear/')
          //-         img(src='img/projects/clear-medium.jpg' srcset="img/projects/clear-small.jpg 640w, img/projects/clear-medium.jpg 800w, img/projects/clear-large.jpg 1480w" alt='Clear Card')
          //-     .wolf-caption.portfolio-caption
          //-       a.wolf-caption-link(alt='' href='clear/')
          //-         h6.alttitle.portfolio-category Front-End Development
          //-         h4.portfolio-name
          //-           strong Clear
          
block footer
  script.
    head.load([{ parallax: "static/jquery.parallax.min.js" }], function() {
      $('#hero').parallax();
    });   