extends layouts/layout

block content
  //- include includes/triangles.jade
  include includes/header-dark.jade
    
  #page-content.page-home
    section#hero.hero-auto
      .page-title.hleft
        h1 
            | Hi, I am a 
            br
            | friendly interaction 
            br
            | designer &amp; Developer 
            //- a(href='about.html').colored designer &amp; Developer
            //- |  working
            //- | in 
            br
            span.colored in sunny New York&nbsp;City.
            //- span(style='font-size: 20px;position:relative;top:1px;') &#9650;

    section#page-body.nopadding
      .wrapper.wrapper-huge
        #portfolio-grid.wolf-grid.clearfix(data-randomhorizontaloffset='true', data-mouseparallax='true')
          .wolf-item.portfolio-wolf-item.frontend.design.project-artnet
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='artnet.html')
                  img(src='img/projects/artnet.jpg', alt='Artnet Photo')
              .wolf-caption.portfolio-caption
                a.wolf-caption-link(href='artnet.html')
                  h6.alttitle.portfolio-category Design and Development
                  h4.portfolio-name
                    strong Artnet Worldwide
          .wolf-item.portfolio-wolf-item.frontend.design.project-akc
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='akc.html')
                  img(src='img/projects/akc.png', alt='American Kennel Club Projects')
              .wolf-caption.portfolio-caption(style='margin-bottom: 15%;')
                a.wolf-caption-link(href='akc.html')
                  h6.alttitle.portfolio-category Design and Development
                  h4.portfolio-name
                   strong
                     | American
                     br
                     | Kennel Club
          
          .wolf-item.portfolio-wolf-item.frontend.project-twc
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='weather-channel.html')
                  div(style='background:url("img/twc/rain.gif");background-size:cover;background-position: 50% 100%;display:inline-block;')
                   img(src='img/projects/twc.png', alt='Weather Channel App Header Image')
              .wolf-caption.cbottom.portfolio-caption(style='margin-top:300px;margin-right:-100px')
                a.wolf-caption-link(href='weather-channel.html')
                  h6.alttitle.portfolio-category Prototyping
                  h4.portfolio-name
                    strong Weather Channel
          .wolf-item.portfolio-wolf-item.frontend.design.project-cognizant
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='cognizant.html')
                  img(src='img/projects/cognizant.jpg', alt='Cognizant Latest Thinking Header Image')
              .wolf-caption.portfolio-caption(style='margin-left:0%;margin-bottom:20%;')
                a.wolf-caption-link(href='cognizant.html')
                  h6.alttitle.portfolio-category Development, Mobile Design, Prototyping
                  h4.portfolio-name
                    strong Cognizant
          .wolf-item.portfolio-wolf-item.frontend.design.photo.project-hwc
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='hard-workers-club.html')
                  img(src='img/projects/hwc.jpg', alt='Hard Workers Club')
              .wolf-caption.portfolio-caption(style='margin-top:10%;')
                a.wolf-caption-link(href='hard-workers-club.html')
                  h6.alttitle.portfolio-category Design, Development, and Photography
                  h4.portfolio-name
                    strong Hard Workers Club
          .wolf-item.portfolio-wolf-item.frontend.design.photo.project-mkbl
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='mkbl.html')
                  img(src='img/projects/mkbl.png', alt='Makeable Portfolio Header Image')
              .wolf-caption.portfolio-caption
                a.wolf-caption-link(href='mkbl.html')
                  h6.alttitle.portfolio-category Design, Development, and Photography
                  h4.portfolio-name
                    strong Makeable
          .wolf-item.portfolio-wolf-item.frontend.design.project-esquire
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='esquire.html')
                  img(src='img/projects/esquire.jpg', alt='Esquire Kid')
              .wolf-caption.portfolio-caption(style='margin-top: 10%;')
                a.wolf-caption-link(href='esquire.html')
                  h6.alttitle.portfolio-category Design and Development
                  h4.portfolio-name
                    strong Esquire
          .wolf-item.portfolio-wolf-item.frontend.photo.project-ct
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='creative-time.html')
                  img(src='img/projects/ct.png', alt='Nick Cave Creative Time')
              .wolf-caption.portfolio-caption
                a.wolf-caption-link(href='creative-time.html')
                  h6.alttitle.portfolio-category Front-End Development and Photography
                  h4.portfolio-name
                    strong Creative Time
          .wolf-item.portfolio-wolf-item.frontend.project-sa
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='success-academy.html')
                  img(src='img/sa/sa_03.png', alt='Success Academy Homepage')
              .wolf-caption.portfolio-caption
                a.wolf-caption-link(href='success-academy.html')
                  h6.alttitle.portfolio-category Front-End Development
                  h4.portfolio-name
                    strong Success Academy
          .wolf-item.portfolio-wolf-item.frontend.project-clear
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='clear.html')
                  img(src='img/projects/clear.jpg', alt='Clear Card')
              .wolf-caption.portfolio-caption
                a.wolf-caption-link(href='clear.html')
                  h6.alttitle.portfolio-category Front-End Development
                  h4.portfolio-name
                    strong Clear
