extends layouts/layout

block content
  //- include includes/triangles.jade
  include includes/header-dark.jade
    
  #page-content.page-home
    section#hero.hero-auto
      .page-title.hleft
        h1 
            | Hi, I am a friendly 
            br
            | interaction designer 
            //- br
            //- | 
            //- a(href='about.html').colored designer &amp; Developer
            //- |  working
            //- | in 
            br
            span.colored in sunny New York&nbsp;City.
            //- span(style='font-size: 20px;position:relative;top:1px;') &#9650;

    section#page-body.nopadding
      .wrapper.wrapper-huge
        #portfolio-grid.wolf-grid.clearfix(data-randomhorizontaloffset='true', data-mouseparallax='true')
          .wolf-item.portfolio-wolf-item.frontend.design.project-akc
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='akc.html')
                  img(src='img/projects/akc.png' srcset="img/projects/akc-small.png 640w, img/projects/akc-medium.png 800w, img/projects/akc-large.png 1480w" alt='American Kennel Club Projects')
              .wolf-caption.portfolio-caption(style='margin-bottom: 15%;')
                a.wolf-caption-link(href='akc.html')
                  h6.alttitle.portfolio-category Design and Development
                  h4.portfolio-name
                   strong
                     | American
                     br
                     | Kennel Club
          .wolf-item.portfolio-wolf-item.frontend.design.project-artnet
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='artnet.html')
                  img(src='img/projects/artnet-medium.jpg' srcset="img/projects/artnet-small.jpg 640w, img/projects/artnet-medium.jpg 800w, img/projects/artnet-large.jpg 1351w" alt='Artnet Photo')
              .wolf-caption.portfolio-caption
                a.wolf-caption-link(href='artnet.html')
                  h6.alttitle.portfolio-category Design
                  h4.portfolio-name
                    strong Artnet Worldwide
          
          .wolf-item.portfolio-wolf-item.design.project-clear
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='personal-identity.html')
                  img(src='img/kyla/kyla_05-medium.jpg' srcset="img/kyla/kyla_05-small.jpg 640w, img/kyla/kyla_05-medium.jpg 800w, img/kyla/kyla_05-large.jpg 1480w" alt='Personal Identity')
              .wolf-caption.portfolio-caption(style='margin-top: 10%;')
                a.wolf-caption-link(href='personal-identity.html')
                  h6.alttitle.portfolio-category Design
                  h4.portfolio-name
                    strong Personal Identity
          
          .wolf-item.portfolio-wolf-item.frontend.project-twc
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='weather-channel.html')
                  div(style='background:url("img/twc/rain.gif");background-size:cover;background-position: 50% 100%;display:inline-block;')
                   img(src='img/projects/twc.png', alt='Weather Channel App Header Image')
              .wolf-caption.cbottom.portfolio-caption(style='margin-top:300px;margin-right:-100px')
                a.wolf-caption-link(href='weather-channel.html')
                  h6.alttitle.portfolio-category Prototyping
                  h4.portfolio-name
                    strong Weather Channel
          .wolf-item.portfolio-wolf-item.frontend.photo.design.project-fa
            .wolf-item-inner
              .wolf-media.portfolio-media.rolling-gradient
                a.wolf-media-link(href='free-association.html')
                  img(src='svg/FA-logo.svg' alt='Free Association Homepage')
              .wolf-caption.portfolio-caption(style='margin-top: 10%;')
                a.wolf-caption-link(href='free-association.html')
                  h6.alttitle.portfolio-category Interaction Design, Photography
                  h4.portfolio-name
                    strong Free Association
          .wolf-item.portfolio-wolf-item.frontend.design.photo.project-mkbl
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='mkbl.html')
                  img(src='img/projects/mkbl-medium.png' srcset="img/projects/mkbl-small.jpg 640w, img/projects/mkbl-medium.jpg 800w, img/projects/mkbl-large.jpg 1183w" alt='Makeable Portfolio Header Image')
              .wolf-caption.portfolio-caption
                a.wolf-caption-link(href='mkbl.html')
                  h6.alttitle.portfolio-category Design, Development, and Photography
                  h4.portfolio-name
                    strong Makeable
          .wolf-item.portfolio-wolf-item.frontend.design.project-cognizant
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='cognizant.html')
                  img(src='img/projects/cognizant-medium.jpg' srcset="img/projects/cognizant-small.jpg 640w, img/projects/cognizant-medium.jpg 800w, img/projects/cognizant-large.jpg 1200w" alt='Cognizant Latest Thinking Header Image')
              .wolf-caption.portfolio-caption(style='margin-left:0%;margin-bottom:20%;')
                a.wolf-caption-link(href='cognizant.html')
                  h6.alttitle.portfolio-category Prototyping, Mobile Design, and Development
                  h4.portfolio-name
                    strong Cognizant
          
          .wolf-item.portfolio-wolf-item.frontend.design.project-esquire
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='esquire.html')
                  img(src='img/projects/esquire-medium.jpg' srcset="img/projects/esquire-small.jpg 640w, img/projects/esquire-medium.jpg 800w, img/projects/esquire-large.jpg 1480w" alt='Esquire Kid')
              .wolf-caption.portfolio-caption(style='margin-top: 10%;')
                a.wolf-caption-link(href='esquire.html')
                  h6.alttitle.portfolio-category Design
                  h4.portfolio-name
                    strong Esquire

          .wolf-item.portfolio-wolf-item.frontend.photo.project-ct
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='creative-time.html')
                  img(src='img/projects/ct-medium.png' srcset="img/projects/ct-small.png 640w, img/projects/ct-medium.png 800w, img/projects/ct-large.png 1127w" alt='Nick Cave Creative Time')
              .wolf-caption.portfolio-caption
                a.wolf-caption-link(href='creative-time.html')
                  h6.alttitle.portfolio-category Photography and Development
                  h4.portfolio-name
                    strong Creative Time
          
          //- .wolf-item.portfolio-wolf-item.frontend.project-sa
          //-   .wolf-item-inner
          //-     .wolf-media.portfolio-media
          //-       a.wolf-media-link(href='success-academy.html')
          //-         img(src='img/projects/sa-medium.jpg' srcset="img/projects/sa-small.jpg 640w, img/projects/sa-medium.jpg 800w, img/projects/sa-large.jpg 1600w" alt='Success Academy Homepage')
          //-     .wolf-caption.portfolio-caption
          //-       a.wolf-caption-link(href='success-academy.html')
          //-         h6.alttitle.portfolio-category Front-End Development
          //-         h4.portfolio-name
          //-           strong Success Academy
          
          .wolf-item.portfolio-wolf-item.frontend.design.photo.project-hwc
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.wolf-media-link(href='hard-workers-club.html')
                  img(src='img/projects/hwc-medium.jpg' srcset="img/projects/hwc-small.jpg 640w, img/projects/hwc-medium.jpg 800w, img/projects/hwc-large.jpg 1024w" alt='Hard Workers Club')
              .wolf-caption.portfolio-caption(style='margin-top:10%;')
                a.wolf-caption-link(href='hard-workers-club.html')
                  h6.alttitle.portfolio-category Design, Development, and Photography
                  h4.portfolio-name
                    strong Hard Workers Club
          //- .wolf-item.portfolio-wolf-item.frontend.project-clear
          //-   .wolf-item-inner
          //-     .wolf-media.portfolio-media
          //-       a.wolf-media-link(href='clear.html')
          //-         img(src='img/projects/clear-medium.jpg' srcset="img/projects/clear-small.jpg 640w, img/projects/clear-medium.jpg 800w, img/projects/clear-large.jpg 1480w" alt='Clear Card')
          //-     .wolf-caption.portfolio-caption
          //-       a.wolf-caption-link(href='clear.html')
          //-         h6.alttitle.portfolio-category Front-End Development
          //-         h4.portfolio-name
          //-           strong Clear
          
