extends layouts/layout

block content
  include includes/header-dark.jade
  div(style='position:relative; height: calc(100vh - 250px);')
    .dribbble.center(style='margin-top:100px')
      img(src='merry-xmas.gif')
