extends layouts/layout

block content
  section#hero.hero-full.parallax-section.text-light(data-parallax-image='img/projects/mkbl.jpg')
    .page-title
      h5.alttitle Design, Development, and Photography
      h1
        strong Makeable
    a#scroll-down(href='#') Scroll Down
  section#page-body
    .wrapper-small
      h6
        strong Details
      p I've played many roles at Makeable. Designer, Developer, Photographer, even UXer and a part of the strategy team once or twice. It's a reflection of my love for the internet and digital culture.
      p For over two and half years, I've been taking photos of Makeable that are used in company assets. I also recently had the honor of redesigning Makeable's website and which is currently ongoing. I've created a couple different directions and below are some highlights. This page is kind of a work in progress as I will update it as the project progresses from design through development. Interspersed are some of the photos I've taken for Makeable.
      .spacer.spacer-big  
    //- .wrapper
    //-   .wolf-grid.clearfix(data-randomhorizontaloffset='true')
    //-     .wolf-item
    //-       .wolf-item-inner
    //-         .wolf-media.portfolio-media
    //-           img(src='img/mkbl/mkbl_05.png', alt='SEO NAME')
    //-         .figcaption: p Dr. Sara S. Thompson at work.
    //-     .wolf-item
    //-       .wolf-item-inner
    //-         .figcaption
    //-           p I've played many roles at Makeable. Designer, Developer, Photographer, even UXer and a part of the strategy team once or twice. It's a reflection of my love for the internet and digital culture.
    //-           p For over two and half years, I've been taking photos of Makeable that are used in company assets. I also recently had the honor of redesigning Makeable's website and which is currently ongoing. I've created a couple different directions and below are some highlights. This page is kind of a work in progress as I will update it as the project progresses from design through development. Interspersed are some of the photos I've taken for Makeable.
    .wrapper.xtra-wide
      .waypoint-parent
        .browser-chrome.is-large(style='max-width: 50%')
          img.browser-shadow(src='img/mkbl/mkbl_01.png', alt='SEO NAME')
          .waypoint-bottom
        .wolf-item.wright.waypoint-child
          .wolf-item-inner
            .figcaption
              p Makeable has a very fun personality and much of the design created here is very vibrant and colorful. I wanted to reflect that while achieving the business goals provided by the partners.
              p In this iteration, I emphasized Makeable's process&mdash;Imagine, Make, and Grow&mdash;in a grid system that breaks up the long descriptions that are written for each project. In the current site, the Imagine phase is not represented at all. I changed that by creating a hashtag that Makeable can use to pull in photos through Instagram's API.
              p During the Imagination phase, Makeable creates story maps that are essentially a creative exersize that discovers a design direction for the project. I wanted to mimick story maps for screens because they are a very important part of Makeable's process.
            
    .wrapper
      .spacer.spacer-big
      .spacer.spacer-big  
      .wolf-grid.clearfix(data-randomhorizontaloffset='true')
        .wolf-item
          .wolf-item-inner
            .wolf-media.portfolio-media
              img(src='img/mkbl/mkbl_07.png', alt='SEO NAME')
            .wolf-caption.portfolio-caption This is an example of the story maps Makeable likes to create during the Imagine phase.
        .wolf-item
          .wolf-item-inner
            .wolf-media.portfolio-media
              img(src='img/mkbl/mkbl_06.png', alt='SEO NAME')
            .wolf-caption.portfolio-caption Here are some of my friends looking at some story maps.    
              
    div.mkbl-caption-1
      .mkbl-caption__container
       p Makeable's color palette is limited to orange, gray, and black. To add more color, I designed with the idea of themes for each page. Specifically, each page in a category like team or projects would have a different gradient and duotone theme.
    .wrapper
      .spacer.spacer-big   
      .wolf-grid.clearfix(data-randomhorizontaloffset='true')
        .wolf-item
          .wolf-item-inner
            .wolf-media.portfolio-media.browser-chrome
              img.browser-shadow(src='img/mkbl/mkbl_03.png', alt='SEO NAME')
            .figcaption
              p Above are examples of profile pages. The second shows the quick switch menu which allows you to switch between related pages in a visual way that is consistent with the main navigation dropdown.
        .wolf-item
          .wolf-item-inner
           .wolf-media.portfolio-media.browser-chrome
              img.browser-shadow(src='img/mkbl/mkbl_04.png', alt='SEO')
        .wolf-item
          .wolf-item-inner
            .wolf-media.portfolio-media
              img(src='img/mkbl/mkbl_05.png', alt='SEO NAME')
            .figcaption: p Dr. Sara S. Thompson at work.
        .wolf-item
          .wolf-item-inner
            .wolf-media.portfolio-media
              img(src='img/mkbl/mkbl_10.png', alt='SEO NAME')
            .figcaption
              p Makeable's slogan
    
    .wrapper-small
      h6
        strong Another Direction
      p I've played many roles at Makeable. Designer, Developer, Photographer, even UXer and a part of the strategy team once or twice. It's a reflection of my love for the internet and digital culture.
      p For over two and half years, I've been taking photos of Makeable that are used in company assets. I also recently had the honor of redesigning Makeable's website and which is currently ongoing. I've created a couple different directions and below are some highlights. This page is kind of a work in progress as I will update it as the project progresses from design through development. Interspersed are some of the photos I've taken for Makeable.
      .spacer.spacer-big

    .wrapper.xtra-wide
      .spacer.spacer-big
      ul.gallery.gallery-col1
        li.has-animation.browser-chrome.is-large
          video.browser-shadow(autoplay preload="auto" loop)
            //- source(src='cognizant.ogg', type='video/ogg')
            source(src='mkbl1.mp4', type='video/mp4')
            p Your browser does not support the 
              code video
              |  element.
    .wrapper.xtra-wide
      .spacer.spacer-big   
      .waypoint-parent
        .browser-chrome.is-large(style='max-width: 50%')
          img.browser-shadow(src='img/mkbl/mkbl_12.png', alt='SEO NAME')
          .waypoint-bottom
        .wolf-item.wright.waypoint-child
          .wolf-item-inner
            .figcaption
              p jasdkfhjk
    //- .wrapper.xtra-wide
    //-   .spacer.spacer-big   
    //-   .wolf-grid.clearfix(data-randomhorizontaloffset='true')
    //-     .wolf-item.wleft
    //-       .wolf-item-inner
    //-         .figcaption
    //-           p In this iteration, my primary objectives were to emphasize Makeable's process&mdash;Imagine, Make, and Grow&mdash;in an easily readable way with a grid system that breaks up the long descriptions that are written for each project. In the current site, the Imagine phase is not represented at all. I changed that by creating a hashtag that Makeable can use to pull in photos through Instagram's API.
    //-           p During the Imagination phase, Makeable creates story maps that are essentially a creative exersize that creates a design direction for the project and is printed for clients. I wanted to mimick story maps for screens because they are a very important part of Makeable's process.
    //-     .wolf-item.wright
    //-       .wolf-item-inner
    //-         .wolf-media.portfolio-media.browser-chrome
    //-           img.browser-shadow(src='img/mkbl/mkbl_12.png', alt='SEO NAME')

    .wrapper
      ul.single-pagination
        li.prev
          a(href='esquire.html')
            img(src='img/projects/esquire.jpg', alt='prev')
            span Previous Project
        li.backtoworks
          a(href='index.html') Back To Works
        li.next
          a(href='success-academy.html')
            img(src='img/projects/sa.jpg', alt='next')
            span Next Project
