extends layouts/layout

block content
  //- include includes/triangles.jade
  include includes/header-light.jade
  #page-content.page-mkbl
    section#hero.hero-big.text-light.parallax-section.text-light(data-parallax-image='img/mkbl/mkbl_14-large.jpg')
      //- .hero-overlay
      .page-title
        h5.alttitle Design, Development, and Photography
        h1
          strong Makeable
      //- a#scroll-down(href='#') Scroll Down
    section#page-body.mkbl-body
      .wrapper-small
        h6
          strong Details
        p I've played many roles at Makeable, including but not limited to designer, developer, photographer, music DJ, and even strategist. It's a reflection of my love for the internet and digital&nbsp;culture.
        p For over two and half years, I've been taking photos of Makeable for company assets. I also recently had the honor of redesigning Makeable's website and is currently on-going project. I've created a few different directions based on stakeholder requirements and this page includes some of the highlights. I am currently the only contributor to the project from wireframing to design to development. This page is a work in progress and I will update it as the project progresses from design through development. All the interspersed photos were shot by me as&nbsp;well.
        .spacer.spacer-big  
      //- .wrapper
      //-   .wolf-grid.clearfix(data-randomhorizontaloffset='true')
      //-     .wolf-item
      //-       .wolf-item-inner
      //-         .wolf-media.portfolio-media
      //-           img(src='img/mkbl/mkbl_05.png', alt='SEO NAME')
      //-         .figcaption: p Dr. Sara S. Thompson at work.
      //-     .wolf-item
      //-       .wolf-item-inner
      //-         .figcaption
      //-           p I've played many roles at Makeable. Designer, Developer, Photographer, even UXer and a part of the strategy team once or twice. It's a reflection of my love for the internet and digital culture.
      //-           p For over two and half years, I've been taking photos of Makeable that are used in company assets. I also recently had the honor of redesigning Makeable's website and which is currently ongoing. I've created a couple different directions and below are some highlights. This page is kind of a work in progress as I will update it as the project progresses from design through development. Interspersed are some of the photos I've taken for Makeable.
      .wrapper-xtrawide(style='overflow:hidden;')
        .waypoint-parent
          .browser-chrome.is-large
            img.browser-shadow(src='img/mkbl/mkbl_01-large.jpg' srcset="img/mkbl/mkbl_01-small.jpg 640w, img/mkbl/mkbl_01-large.jpg 789w" alt='Makeable Homepage Design')
            .waypoint-bottom
          .wolf-item.wright.waypoint-child(style='z-index:0;')
            .wolf-item-inner
              .figcaption
                p Makeable has a fun personality and much of the design created by the company is vibrant and colorful. I wanted to reflect that while achieving the business goals provided by the partners.
                p In this iteration, I emphasized Makeable's process&mdash;Imagine, Make, and Grow&mdash;in a grid system that breaks up the long descriptions written for each project. In the current site, the Imagine phase is not represented at all. I changed that by creating a hashtag that Makeable can use to pull in photos through Instagram's API.
                p During the Imagination phase, Makeable creates story maps that are creative exercise intended to discover a design direction for the project. I wanted to mimic story maps for screens since they are such an important part of Makeable's process. The site UI in this mockup is placeholder, borrowed from 
                  a(href='https://www.enginethemes.com/') here
                  | .
              
      .wrapper(style='background-color:white;position: relative; z-index:1;')
        .spacer.spacer-big
        .spacer.spacer-big  
        .wolf-grid.clearfix(data-randomhorizontaloffset='true' data-mouseparallax='true')
          .wolf-item
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.img-hover(href='img/mkbl/mkbl_07-large.jpg', data-rel='lightcase:mkbl')
                  img.img-shadow(src='img/mkbl/mkbl_07-medium.jpg' srcset="img/mkbl/mkbl_07-small.jpg 640w, img/mkbl/mkbl_07-medium.jpg 800w, img/mkbl/mkbl_07-large.jpg 1600w" alt='Makeable Thinkmaps')
              .wolf-caption.portfolio-caption This is an example of the story maps Makeable creates during the Imagine phase.
          .wolf-item
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.img-hover(href='img/mkbl/mkbl_06-large.jpg', data-rel='lightcase:mkbl')
                  img.img-shadow(src='iimg/mkbl/mkbl_06-medium.jpg' srcset="img/mkbl/mkbl_06-small.jpg 640w, img/mkbl/mkbl_06-medium.jpg 800w, img/mkbl/mkbl_06-large.jpg 1600w" alt='People looking at thinkmaps')
              .wolf-caption.portfolio-caption Here are some of my friends looking at some story maps.    
                
      div.mkbl-caption-1
        .mkbl-caption__container
         p Makeable's color palette is limited to orange, gray, and black. To add more color, I designed with the idea of themes for each page. Each page in a category like team or projects would have a different gradient and duotone theme.
      .wrapper(style='background-color:white;position: relative; z-index:1;')
        .spacer.spacer-big   
        .wolf-grid.clearfix(data-randomhorizontaloffset='true' data-mouseparallax='true')
          .wolf-item
            .wolf-item-inner
              .wolf-media.portfolio-media.browser-chrome
                a.img-hover(href='img/mkbl/mkbl_03-large.jpg', data-rel='lightcase:mkbl')
                  img.browser-shadow(src='img/mkbl/mkbl_03-medium.jpg' srcset="img/mkbl/mkbl_03-small.jpg 640w, img/mkbl/mkbl_03-medium.jpg 800w, img/mkbl/mkbl_03-large.jpg 1600w" alt='About page design')
              .figcaption.special
                p These examples of team profile pages show how different themes would work. The second image shows the quick switch menu allowing users to switch between related pages in a visual way consistent with the main navigation dropdown.
          .wolf-item
            .wolf-item-inner
             .wolf-media.portfolio-media.browser-chrome
                a.img-hover(href='img/mkbl/mkbl_04-large.jpg', data-rel='lightcase:mkbl')
                 img.browser-shadow(src='img/mkbl/mkbl_04-medium.jpg' srcset="img/mkbl/mkbl_04-small.jpg 640w, img/mkbl/mkbl_04-medium.jpg 800w, img/mkbl/mkbl_04-large.jpg 1600w"  alt='About page design with quick nav')
          .wolf-item
            .wolf-item-inner
             .wolf-media.portfolio-media.browser-chrome
                a.img-hover(href='img/mkbl/mkbl_16-large.jpg', data-rel='lightcase:mkbl')
                 img.browser-shadow(src='img/mkbl/mkbl_16-large.jpg' srcset="img/mkbl/mkbl_16-small.jpg 640w, img/mkbl/mkbl_16-medium.jpg 800w, img/mkbl/mkbl_16-large.jpg 1600w"  alt='About page design with quick nav')
          .wolf-item
            .wolf-item-inner
             .wolf-media.portfolio-media.browser-chrome
                a.img-hover(href='img/mkbl/mkbl_17-large.jpg', data-rel='lightcase:mkbl')
                 img.browser-shadow(src='img/mkbl/mkbl_17-large.jpg' srcset="img/mkbl/mkbl_17-small.jpg 640w, img/mkbl/mkbl_17-medium.jpg 800w, img/mkbl/mkbl_17-large.jpg 1785w"  alt='About page design with quick nav')
          //- .wolf-item
          //-   .wolf-item-inner
          //-     .wolf-media.portfolio-media
          //-       a.img-hover(href='img/mkbl/mkbl_16-large.jpg', data-rel='lightcase:mkbl')
          //-         img.img-shadow(src='img/mkbl/mkbl_16-medium.jpg' srcset="img/mkbl/mkbl_16-small.jpg 640w, img/mkbl/mkbl_16-medium.jpg 800w, img/mkbl/mkbl_16-large.jpg 1330w"  alt='Sara Thompson')
          //-     .figcaption: p Dr. Sara S. Thompson at work.
          .wolf-item
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.img-hover(href='img/mkbl/mkbl_13-large.jpg', data-rel='lightcase:mkbl')
                  img.img-shadow(src='img/mkbl/mkbl_13-medium.jpg' srcset="img/mkbl/mkbl_13-small.jpg 640w, img/mkbl/mkbl_13-medium.jpg 800w, img/mkbl/mkbl_13-large.jpg 1480w"  alt='Sara Thompson')
              .figcaption: p Dr. Sara S. Thompson at work.
          .wolf-item
            .wolf-item-inner
              .wolf-media.portfolio-media
                a.img-hover(href='img/mkbl/mkbl_10-large.jpg', data-rel='lightcase:mkbl')
                  img.img-shadow(src='img/mkbl/mkbl_10-medium.jpg' srcset="img/mkbl/mkbl_10-small.jpg 640w, img/mkbl/mkbl_10-medium.jpg 800w, img/mkbl/mkbl_10-large.jpg 1600w"  alt='Jonathan Delefortrie')
              .figcaption
                p Makeable's slogan
      
      .wrapper-mini(style='background-color:white;position: relative; z-index:1;')
        h6
          strong A Second Direction
        p In the second direction, I went with a grid-based layout because both founders expressed interest in it. They like the idea of displaying as much information about the company on the homepage as possible for SEO purposes.
        .spacer.spacer-big

      .wrapper.xtra-wide.no-mobile-video(style='background-color:white;position: relative; z-index:1;')
        .spacer.spacer-small
        ul.gallery.gallery-col1
          li.has-animation.browser-chrome.is-large
            a.img-hover(href='mkbl1.mp4' data-rel='lightcase:mkbl')
              img.browser-shadow.img-for-small(src='img/mkbl/mkbl_14-small.jpg' alt='Makeable love page design')
              video.browser-shadow(data-aload='mkbl1.mp4' preload="auto" loop)
                //- source(src='cognizant.ogg', type='video/ogg')
                //- source(src='mkbl1.mp4', type='video/mp4')
                p Your browser does not support the 
                  code video
                  |  element.
      .wrapper.xtra-wide
        .spacer.spacer-big   
        .waypoint-parent
          .browser-chrome.is-large
            img.browser-shadow(src='img/mkbl/mkbl_12-medium.jpg' srcset="img/mkbl/mkbl_12-small.jpg 640w, img/mkbl/mkbl_12-medium.jpg 800w, img/mkbl/mkbl_12-large.jpg 1284w"  alt='Makeable love page design')
            .waypoint-bottom
          .wolf-item.wright.waypoint-child
            .wolf-item-inner
              .figcaption
                p The color in this design direction would come directly from the brands Makeable works with. This Weather Channel example illustrates that.
      //- .wrapper.xtra-wide
      //-   .spacer.spacer-big   
      //-   .wolf-grid.clearfix(data-randomhorizontaloffset='true')
      //-     .wolf-item.wleft
      //-       .wolf-item-inner
      //-         .figcaption
      //-           p In this iteration, my primary objectives were to emphasize Makeable's process&mdash;Imagine, Make, and Grow&mdash;in an easily readable way with a grid system that breaks up the long descriptions that are written for each project. In the current site, the Imagine phase is not represented at all. I changed that by creating a hashtag that Makeable can use to pull in photos through Instagram's API.
      //-           p During the Imagination phase, Makeable creates story maps that are essentially a creative exersize that creates a design direction for the project and is printed for clients. I wanted to mimick story maps for screens because they are a very important part of Makeable's process.
      //-     .wolf-item.wright
      //-       .wolf-item-inner
      //-         .wolf-media.portfolio-media.browser-chrome
      //-           img.browser-shadow(src='img/mkbl/mkbl_12.png', alt='SEO NAME')

      .wrapper
        ul.single-pagination
          li.prev
            a(href='personal-identity.html')
              img(src='img/kyla/kyla_05-small.jpg', alt='prev')
              span Previous Project
          li.backtoworks
            a(href='/') Back To Works
          li.next
            a(href='esquire.html')
              img(src='img/projects/esquire-small.jpg', alt='next')
              span Next Project
