extends layouts/layout

block content
  //- include includes/triangles.jade
  include includes/header-dark.jade
  #page-content.page-sa
    section#hero.hero-auto
      .page-title.wrapper
        #wolf-title.wolf-grid.clearfix
          .wolf-item.wfull.wright.wolf-text(data-speed='2')
            .wolf-item-inner
              .wolf-media
                img(src='img/sa/sa_01-medium.jpg' srcset="img/sa/sa_01-small.jpg 640w, img/sa/sa_01-medium.jpg 800w, img/sa/sa_01-large.jpg 1800w" alt='Success Academy Classroom')
              .wolf-caption.ctop(style='width:60%;')
                h5.alttitle Front-End Development
                h1
                  strong Success Academy
    section#page-body.nopadding
      .wrapper-small
        h6
          strong Project Details
        p Success Academy is a network of world-class charter schools across New York City. They also serve as a catalyst and national model for education reform through their writing platform, Mission Possible. SA asked Makeable to help show off their creative instructional approach by updating their website. Our work allowed them to highlight every school in their network, establish a platform for generating interest in education reform, and provide e-commerace capabilities for events and extracurricular activities. I developed the entire front-end and in-browser interaction design and implemented the Google Maps API, several social network APIs, and used HTML5's Canvas for graphs across the site. The whole site was finished in two weeks in hyper-agile workflow with the visual designer, 
          a(href='http://www.stompsondesign.com/' target='_blank') Dr. Sara S. Thompson.
        //- h6
        //-   strong Languages
        //- p
        //-   | PHP, Sass, Coffeescript
        //-   br
        //-   | csswinner - Winner of the Day
        //-   br
        //-   | cssreel - Winner of the Day
        p
          a(href='http://successacademies.org/' targe='_blank'): strong Visit Site
        //-   br
        //-   a(href='http://www.annasalvador.com')
        //-     strong annasalavdor.com
      .spacer.spacer-big
      .wrapper
        .wolf-grid.clearfix(data-mouseparallax='true' data-randomhorizontaloffset='true')
          .wolf-item
            .wolf-item-inner
              .wolf-media.portfolio-media.browser-chrome
                img.browser-shadow(data-aload='img/sa/sa_05-medium.jpg' srcset="img/sa/sa_05-small.jpg 640w, img/sa/sa_05-medium.jpg 800w, img/sa/sa_05-large.jpg 1346w" alt='Success Academy Homepage')
         
          .wolf-item.is-caption.is-caption--left(data-speed="-1")
            .wolf-item-inner
                p.figcaption I've actually developed this site twice. After finishing the first round, Pentagram rebranded Success Academy. SA then asked Makeable to redesign the site a second time to reflect the new branding. We took what we learned the first iteration and made huge improvements to the site.
          .wolf-item.is-caption.is-caption--right(data-speed="-1")
            .wolf-item-inner
              .figcaption
                p The graphs are dynamically generated with the HTML5 canvas element with polyfills supporting browsers back to IE7. There's also a customized interactive map created using Google Maps API.

          .wolf-item
            .wolf-item-inner
              .wolf-media.portfolio-media.browser-chrome
                img.browser-shadow(data-aload='img/sa/sa_06-medium.jpg' srcset="img/sa/sa_06-small.jpg 640w, img/sa/sa_06-medium.jpg 800w, img/sa/sa_06-large.jpg 1338w" alt='Success Academy Graphs')
        //- ul.gallery.gallery-col2.spaced
        //-   li.has-animation.browser-chrome
        //-     .browser-shadow
        //-       img(src='img/sa/sa_05.png', alt='SEO NAME')
        //-   li.has-animation.browser-chrome
        //-     .browser-shadow(data-delay='200')
        //-       img(src='img/sa/sa_06.png', alt='SEO NAME')
        ul.gallery.spaced
          li.has-animation
            img(data-aload='img/sa/sa_04-medium.jpg' srcset="img/sa/sa_04-small.jpg 640w, img/sa/sa_04-medium.jpg 1480w, img/sa/sa_04-large.jpg 2250w" alt='Success Academy iPads')
          li.has-animation.browser-chrome.is-large
            .browser-shadow
              img(data-aload='img/sa/sa_07-medium.jpg' srcset="img/sa/sa_07-small.jpg 640w, img/sa/sa_07-medium.jpg 800w, img/sa/sa_07-large.jpg 1269w" alt='Success Academy About Page')
        //- ul.gallery.gallery-col2.spaced
        //-   li.has-animation
        //-     img(src='img/sa/sa_06.png', alt='SEO NAME')
        //-   li.has-animation(data-delay='200')
        //-     img(src='img/sa/sa_07.png', alt='SEO NAME')
      .wrapper
        ul.single-pagination
          li.prev
            a(href='creative-time.html')
              img(src='img/projects/ct-small.png', alt='prev')
              span Previous Project
          li.backtoworks
            a(href='/') Back To Works
          li.next
            a(href='clear.html')
              img(src='img/projects/clear-small.jpg', alt='next')
              span Next Project
