extends layouts/layout

block content
  section#hero.hero-auto
    .page-title.wrapper
      #wolf-title.wolf-grid.clearfix
        .wolf-item.wfull.wright.wolf-text(data-speed='2')
          .wolf-item-inner
            .wolf-media
              img(src='img/sa/sa_01.png', alt='SEO NAME')
            .wolf-caption.ctop(style='width:60%;')
              h5.alttitle Front-End Development
              h1
                strong Success Academy
  section#page-body.nopadding
    .wrapper-small
      h6
        strong Details
      p Success Academy is a network of world-class charter schools across New York City. It also serves as a catalyst and national model for education reform through its writing platform Mission Possible. SA asked Makeable to help them show off their creative instructional approach by updating their website. Our work allowed them to highlight every school in their network, establish a platform for generating interest in education reform, and e-commerace capabilities for events and extracurricular activities. I developed the entire front-end and in browser interaction design with Wordpress and implemented the Google Maps API, several social network APIs, and used HTML5's Canvas for graphs across the site. The whole thing was built in two weeks in hyper agile workflow with the visual designer, 
        a(href='http://www.stompsondesign.com/' target='_blank') Dr. Sara S. Thompson.
      h6
        strong Languages
      p
        | PHP, Sass, Coffeescript
      //-   br
      //-   | csswinner - Winner of the Day
      //-   br
      //-   | cssreel - Winner of the Day
      h6
        strong Link
      p
        a(href='http://successacademies.org/') Success Academy
      //-   br
      //-   a(href='http://www.annasalvador.com')
      //-     strong annasalavdor.com
    .spacer.spacer-big
    .wrapper
      ul.gallery.gallery-col2.spaced
        li.has-animation.browser-chrome.browser-shadow
          img(src='img/sa/sa_05.png', alt='SEO NAME')
        li.has-animation.browser-chrome.browser-shadow(data-delay='200')
          img(src='img/sa/sa_06.png', alt='SEO NAME')
      ul.gallery.spaced
        li.has-animation
          img(src='img/sa/sa_04.png', alt='SEO NAME')
        li.has-animation.browser-chrome.browser-shadow
          img(src='img/sa/sa_07.png', alt='SEO NAME')
      //- ul.gallery.gallery-col2.spaced
      //-   li.has-animation
      //-     img(src='img/sa/sa_06.png', alt='SEO NAME')
      //-   li.has-animation(data-delay='200')
      //-     img(src='img/sa/sa_07.png', alt='SEO NAME')
    .wrapper
      ul.single-pagination
        li.prev
          a(href='portfolio-single-1.html')
            img(src='img/projects/ct.png', alt='prev')
            span Previous Project
        li.backtoworks
          a(href='index.html') Back To Works
        li.next
          a(href='portfolio-single-3.html')
            img(src='img/projects/clear.jpg', alt='next')
            span Next Project
