extends layouts/layout

block content
  //- include includes/triangles.jade
  include includes/header-dark.jade
  #page-content.page-sa
    section#hero.hero-big.parallax-section.text-light(data-parallax-image='img/sa/sa_02-large.jpg')
      .page-title
        h5.alttitle Strategy, UX, Design
        h1
          strong Success Academy
      //- a#scroll-down(href='#') Scroll Down
    //- section#hero.hero-auto
    //-   .page-title.wrapper
    //-     #wolf-title.wolf-grid.clearfix
    //-       .wolf-item.wfull.wright.wolf-text(data-speed='2')
    //-         .wolf-item-inner
    //-           .wolf-media
    //-             img(src='img/sa/sa_02-medium.jpg' srcset="img/sa/sa_02-small.jpg 640w, img/sa/sa_02-medium.jpg 800w, img/sa/sa_02-large.jpg 1800w" alt='Success Academy Classroom')
    //-           .wolf-caption.ctop(style='width:60%;')
    //-             h5.alttitle Strategy, UX, Design
    //-             h1
    //-               strong Success Academy
    section#page-body.nopadding
      .spacer.spacer-big
      .wrapper-small
        h6
          strong Work-in-Progress
        p Success Academy is a network of world-class charter schools serving New York City. After working as the front-end developer of the successacademies.org site, I was asked to do strategy, UX, and design of the Success Academies Careers site. In the requirements for the new site, we outlined four major goals: 
        ul
          li Motivate potential candidates to apply
          li Set candidates up for success during the hiring process
          li Inspire candidates so they are primed to accept an offer
          li Establish relevance to a millennial audience
       

      .spacer.spacer-big
      //- .issuuembed#sa-research(data-configid='2658242/35308558' style='display:none')
      //-   script(type='text/javascript', src='//e.issuu.com/embed.js', async='true')

      .wrapper
        .wolf-grid.clearfix(data-mouseparallax='true' data-randomhorizontaloffset='true')
          .wolf-item
            .wolf-item-inner
              .wolf-media.portfolio-media
                a(href='/SA_research/index.html'  data-rel='lightcase:sa' title='Click presentation or use arrow keys to advance. <a href="/SA_research/index.html" target="_blank" alt="Research Presentation">View Fullscreen</a>')
                  img(data-aload='img/sa/sa_09-large.png' srcset="img/sa/sa_09-large.png 640w, img/sa/sa_09-large.png 800w, img/sa/sa_09-large.png 1338w" alt='Success Academy Graphs')
         
          .wolf-item.is-caption.is-caption--left(data-speed="-1")
            .wolf-item-inner
                p.figcaption In the first section of the research, I presented an analysis of how other companies are accomplishing the goals we outlined. In the second section, I researched special considerations the client requested we look into, and finally, I looked at their current sites analytics.
                a(href='' target='_blank')
          .wolf-item.is-caption.is-caption--right(data-speed="-1")
            .wolf-item-inner
              .figcaption
                p After presenting the research and getting feedback from the client, I created a series of functional UX concepts that addressed the four goals set in requirements. The largest concept revolved around user accounts that allowed the potential candidates to interact with site on level that's not really being achieved anywhere else.

          .wolf-item
            .wolf-item-inner
              .wolf-media.portfolio-media
                a(href='/SA_concepts/index.html'  data-rel='lightcase:sa' title='Click presentation or use arrow keys to advance. <a href="/SA_concepts/index.html" target="_blank" alt="UX Concepts Presentation">View Fullscreen</a>')
                  img(data-aload='img/sa/sa_08-large.png' srcset="img/sa/sa_08-large.png 640w, img/sa/sa_08-large.png 800w, img/sa/sa_08-large.png 1338w" alt='Success Academy Graphs')

        ul.gallery.spaced
          li.has-animation
            img(data-aload='img/sa/sa_04-medium.jpg' srcset="img/sa/sa_04-small.jpg 640w, img/sa/sa_04-medium.jpg 1480w, img/sa/sa_04-large.jpg 2250w" alt='Success Academy iPads')

      .wrapper
        ul.single-pagination
          li.prev
            a(href='creative-time.html')
              img(src='img/projects/ct-small.png', alt='prev')
              span Previous Project
          li.backtoworks
            a(href='/') Back To Works
          li.next
            a(href='hard-workers-club.html')
              img(src='img/projects/hwc-small.jpg', alt='next')
              span Next Project
