extends layouts/layout

block content
  include includes/triangles.jade
  include includes/header-light.jade
  #page-content.page-twc
    section#hero.hero-big.text-light
      //- .parallax-section.text-light(data-parallax-image='img/twc/twc_03-large.gif')
  
      //- .hero-video
      img.img-for-small.hero-video(src='img/twc/twc_04-small.jpg')
      video.hero-video(autoplay data-aload='twc1.mp4' preload="auto" loop)
        //- source(src='cognizant.ogg', type='video/ogg')
        //- source(src='twc1.mp4', type='video/mp4')
        p Your browser does not support the 
          code video
          |  element.
      .hero-overlay.is-darker
      .page-title
        h5.alttitle Prototyping
        h1 The Weather Channel
      //- a#scroll-down(href='#') Scroll Down

    section#page-body
      .wrapper-medium
        .wolf-grid.clearfix(data-mouseparallax='true' style='margin-bottom:0;')
          .wolf-item.wfull
            .wolf-item-inner
              .wolf-media.portfolio-media(style='background:url(img/twc/rain.gif) repeat-x; background-size: auto 100%; background-position: 50% 50%;background-position:fixed;')
                img(data-aload='img/twc/twc_01-medium.png', srcset="img/twc/twc_01-small.png 640w, img/twc/twc_01-medium.png 1480w, img/twc/twc_01-large.png 2224w" alt='Weather Channel App Screens')
      .wrapper-small
        h4.align-center
          strong A Full-Scale Prototype
        h6.alttitle.align-center for the most popular and downloaded weather app of all time.
        .column-section.clearfix
            p The Weather Channel asked Makeable to redesign their flagship app. During the process, I prototyped a concept to present to Apple. It that featured animated backgrounds that changed according to the weather and a card system that makes it highly customizable. The flagship feature of the concept is WeatherLens, which crowdsourced information about the&nbsp;weather.
      .wrapper.xtra-wide
        .spacer.spacer-big
        .wolf-grid.clearfix(data-mouseparallax='false')
          .wolf-item
            .wolf-item-inner
              p When severe weather strikes, the background illustration and color would change, there are no ads, and the app pulls in relevant social updates from Instagram and&nbsp;Twitter.
          .wolf-item
            .wolf-item-inner
              .wolf-media.portfolio-media(style='background:url(img/twc/hurricane.gif) repeat-x; background-size: auto 100%; background-position: 50% 50%;background-position:fixed;')
                  img(data-aload='img/twc/twc_02-medium.png' srcset="img/twc/twc_02-small.png 640w, img/twc/twc_02-medium.png 1480w, img/twc/twc_02-large.png 1600w" alt='Weather Channel Severe Weather Screen')
        //- ul.gallery.gallery-col1
        //-   li.has-animation(style='background:url(img/twc/hurricane.gif) repeat-x; background-size: auto 100%; background-position: 50% 50%;background-position:fixed;')
        //-     img(src="img/twc/twc_02.png", alt="")
        //-   li.has-animation
        //-     .figcaption: p  When severe weather strikes, the background illustration and color would change, there are no ads, and the app pulls in relevant social updates from Instagram and Twitter.

      .wrapper
        ul.single-pagination
          li.prev
            a(href='akc.html')
              img(src='img/projects/akc-small.jpg', alt='prev')
              span Previous Project
          li.backtoworks
            a(href='index.html') Back To Works
          li.next
            a(href='cognizant.html')
              img(src='img/projects/cognizant-small.jpg', alt='next')
              span Next Project



