extends layouts/layout

block content
  section#hero.hero-full.parallax-section.text-light(data-parallax-image='img/1680x1100.jpg')
    .page-title
      h5.alttitle Prototyping
      h1
        strong The Weather Channel
    a#scroll-down(href='#') Scroll Down

  section#page-body
    .wrapper
      .wolf-grid.clearfix(data-mouseparallax='false')
        .wolf-item
          .wolf-item-inner
            .wolf-media.portfolio-media
              a.img-hover(href='img/1100x600-light.jpg', data-rel='lightcase:twc')
                img(src='img/600x400-light.jpg', alt='SEO NAME')
        .wolf-item
          .wolf-item-inner
            .wolf-media.portfolio-media
              a.img-hover(href='img/1100x600-light.jpg', data-rel='lightcase:twc')
                img(src='img/600x400-light.jpg', alt='SEO NAME')
        .wolf-item
          .wolf-item-inner
            .wolf-media.portfolio-media
              a.img-hover(href='img/1100x600-light.jpg', data-rel='lightcase:twc')
                img(src='img/600x400-light.jpg', alt='SEO NAME')
        .wolf-item
          .wolf-item-inner
            .wolf-media.portfolio-media
              a.img-hover(href='img/1100x600-light.jpg', data-rel='lightcase:twc')
                img(src='img/600x400-light.jpg', alt='SEO NAME')

    .wrapper-small
      h4.align-center
        strong Prototype
      h6.alttitle.align-center for the most popular and downloaded weather app of all time.
      .column-section.clearfix
          p
            | The Weather Channel asked Makeable to redesign their flagship app. During the process, I prototyped a concept to present to Apple. It that featured animated backgrounds that changed according to the weather and a card system that makes it highly customizable. The flagship feature of the concept is WeatherLens, which crowdsourced information about the weather.

    .wrapper
      ul.single-pagination
        li.prev
          a(href='cognizant.html')
            img(src='img/projects/cognizant.jpg', alt='prev')
            span Previous Project
        li.backtoworks
          a(href='index.html') Back To Works
        li.next
          a(href='mkbl.html')
            img(src='img/600x800-light.jpg', alt='next')
            span Next Project



