extends layouts/sublayout

block content
  //- include includes/triangles.jade
  include includes/header-light.jade
  #page-content.page-akc
    section#hero.hero-big.parallax-section.text-light(data-parallax-image='../img/projects/kyla-large2.jpg')
      //- .hero-overlay      
      .page-title
        h5.alttitle Design
        h1
          strong Personal Branding
      //- a#scroll-down(href='#') Scroll Down

    section#page-body
      
      .wrapper.has-animation
        .spacer.spacer-big
        .wolf-item.wfull.has-animation(style='margin-bottom:0')
          .wolf-item-inner
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_01-large.jpg', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_01-large.jpg' srcset="../img/kyla/kyla_01-small.jpg 640w, ../img/kyla/kyla_01-medium.jpg 800w, ../img/kyla/kyla_01-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation(style='margin-bottom:0')
          .wolf-item-inner
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_02-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_02-large.jpg' srcset="../img/kyla/kyla_02-small.jpg 640w, ../img/kyla/kyla_02-medium.jpg 800w, ../img/kyla/kyla_02-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation(style='margin-bottom:0')
          .wolf-item-inner
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_03-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_03-large.jpg' srcset="../img/kyla/kyla_03-small.jpg 640w, ../img/kyla/kyla_03-medium.jpg 800w, ../img/kyla/kyla_03-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation(style='margin-bottom:0')
          .wolf-item-inner
            .wolf-media.portfolio-media
              a(href='../img/kyla/kyla_04-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_04-large.jpg' srcset="../img/kyla/kyla_04-small.jpg 640w, ../img/kyla/kyla_04-medium.jpg 800w, ../img/kyla/kyla_04-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation.no-mobile-video(style='margin-bottom:0;z-index:1')
          .wolf-item-inner(style='min-height:auto')
            .wolf-media.portfolio-media.img-shadow
              //- a(href='../img/kyla/kyla_05-large.png', data-rel='lightcase:kyla')
              .loader
              video(data-aload='../static/404_2.mp4' preload="auto" loop style='padding:0 35%;' poster='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7')
        .wolf-item.wfull.has-animation(style='margin-bottom:0')
          .wolf-item-inner
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_05-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_05-large.jpg' srcset="../img/kyla/kyla_05-small.jpg 640w, ../img/kyla/kyla_05-medium.jpg 800w, ../img/kyla/kyla_05-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation(style='margin-bottom:0')
          .wolf-item-inner
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_06-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_06-large.jpg' srcset="../img/kyla/kyla_06-small.jpg 640w, ../img/kyla/kyla_06-medium.jpg 800w, ../img/kyla/kyla_06-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation(style='padding-bottom:12px;margin-bottom:0;')
          .wolf-item-inner
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_12-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_12-large.jpg' srcset="../img/kyla/kyla_12-small.jpg 640w, ../img/kyla/kyla_12-medium.jpg 800w, ../img/kyla/kyla_12-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation(style='padding-bottom:12px;margin-bottom:0;')
          .wolf-item-inner(style='min-height:auto')
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_07-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_07-large.jpg' srcset="../img/kyla/kyla_07-small.jpg 640w, ../img/kyla/kyla_07-medium.jpg 800w, ../img/kyla/kyla_07-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation(style='padding-bottom:12px;margin-bottom:0;')
          .wolf-item-inner
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_08-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_08-large.jpg' srcset="../img/kyla/kyla_08-small.jpg 640w, ../img/kyla/kyla_08-medium.jpg 800w, ../img/kyla/kyla_08-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation(style='padding-bottom:12px;margin-bottom:0;')
          .wolf-item-inner
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_09-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_09-large.jpg' srcset="../img/kyla/kyla_09-small.jpg 640w, ../img/kyla/kyla_09-medium.jpg 800w, ../img/kyla/kyla_09-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation(style='padding-bottom:12px;margin-bottom:0;')
          .wolf-item-inner
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_10-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_10-large.jpg' srcset="../img/kyla/kyla_10-small.jpg 640w, ../img/kyla/kyla_10-medium.jpg 800w, ../img/kyla/kyla_10-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation(style='padding-bottom:12px;margin-bottom:0;')
          .wolf-item-inner(style='min-height:auto')
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_11-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_11-large.jpg' srcset="../img/kyla/kyla_11-small.jpg 640w, ../img/kyla/kyla_11-medium.jpg 800w, ../img/kyla/kyla_11-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation(style='padding-bottom:12px;margin-bottom:0;')
          .wolf-item-inner
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_13-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_13-large.jpg' srcset="../img/kyla/kyla_13-small.jpg 640w, ../img/kyla/kyla_13-medium.jpg 800w, ../img/kyla/kyla_13-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation(style='padding-bottom:12px;margin-bottom:0;')
          .wolf-item-inner
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_14-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_14-large.jpg' srcset="../img/kyla/kyla_14-small.jpg 640w, ../img/kyla/kyla_14-medium.jpg 800w, ../img/kyla/kyla_14-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation(style='padding-bottom:12px;margin-bottom:0;')
          .wolf-item-inner
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_15-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_15-large.jpg' srcset="../img/kyla/kyla_15-small.jpg 640w, ../img/kyla/kyla_15-medium.jpg 800w, ../img/kyla/kyla_15-large.jpg 1920w" alt='ky.la website')
        .wolf-item.wfull.has-animation(style='padding-bottom:12px;margin-bottom:0;')
          .wolf-item-inner
            .wolf-media.portfolio-media.img-shadow
              a(href='../img/kyla/kyla_16-large.png', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_16-large.jpg' srcset="../img/kyla/kyla_16-small.jpg 640w, ../img/kyla/kyla_16-medium.jpg 800w, ../img/kyla/kyla_16-large.jpg 1920w" alt='ky.la website')
        
        .wolf-item.wfull.has-animation(style='padding-bottom:0;margin-bottom:0;position:relative;z-index:1;')
          .wolf-item-inner
            .wolf-media.portfolio-media.img-shadow(style='box-shadow:0 -8px 30px rgba(0,0,0,.05);')
              a(href='../img/kyla/kyla_17-large.jpg', data-rel='lightcase:kyla')
                .loader
                img(src='../img/kyla/kyla_17-large-alt.png' srcset="../img/kyla/kyla_17-small-alt.png 640w, ../img/kyla/kyla_17-large-alt.png 1000w, ../img/kyla/kyla_17-large-alt.png 1400w" alt='ky.la website')
        div.id-pullup
          .wolf-item.wfull.has-animation(style='padding-bottom:12px;margin-bottom:0;')
            .wolf-item-inner
              .wolf-media.portfolio-media.img-shadow
                a(href='../static/branding01.mp4', data-rel='lightcase:kyla')
                  .loader
                  video(data-aload='../static/branding01.mp4' loop)
          .wolf-item.wfull.has-animation(style='padding-bottom:0;margin-bottom:0;')
            .wolf-item-inner
              .wolf-media.portfolio-media.img-shadow
                a(href='../img/kyla/kyla_18-large.jpg', data-rel='lightcase:kyla')
                  .loader
                  img(src='../img/kyla/kyla_18-large.jpg' srcset="../img/kyla/kyla_18-small.jpg 640w, ../img/kyla/kyla_18-medium.jpg 800w, ../img/kyla/kyla_18-large.jpg 1920w" alt='ky.la website')
          .wolf-item.wfull.has-animation(style='padding-bottom:0;margin-bottom:0;')
            .wolf-item-inner
              .wolf-media.portfolio-media.img-shadow
                a(href='../img/kyla/kyla_17-large.jpg', data-rel='lightcase:kyla')
                  .loader
                  img(src='../img/kyla/kyla_19-large.jpg' srcset="../img/kyla/kyla_19-small.jpg 640w, ../img/kyla/kyla_19-medium.jpg 800w, ../img/kyla/kyla_19-large.jpg 1920w" alt='ky.la website')

        .wrapper-small.has-animation
          .spacer.spacer-medium
          .column-section.clearfix(style='text-align:center')
              h6
                strong Links
              p
                a(href='https://www.behance.net/kylamedina' target='_blank') Behance
                br
                a(href='http://www.p-decho.com/' target='_blank') Decho Pitukcharoen
      .wrapper
        ul.single-pagination
          li.prev
            a(href='../artnet/')
              img(src='../img/projects/artnet-small.jpg', alt='prev')
              span Previous Project
          li.backtoworks
            a(href='../') All Projects
          li.next
            a(href='../makeable/')
              img(src='../img/projects/mkbl-small.jpg', alt='Next')
              span Next Project