@keyframes sparkle
	0%
		fill darkblue
	50%
		fill lightblue
	100%
		fill darkblue

@keyframes swirl
	0%
		background-position 0% 50%
	50%
		background-position 100% 50%
	100%
		background-position 0% 50%

@keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 1

.fadeIn
	animation-name: fadeIn


.rolling-gradient
	background: linear-gradient(212deg, #3f9ef7, #35f4e0, #b869fb, #5086fa, #2befc5, #abfca9)
	background-size: 1200% 1200%
	animation: gradientAnim 6s ease infinite

@keyframes gradientAnim
	0%
		background-position: 0% 50%
	50%
		background-position: 100% 50%
	100%
		background-position: 0% 50%