black = #222
lightblack = #4D4D4D
primary = #B2DFDB
lightgray = #F5F5F5

Bodyfont = 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif
Headerfont = 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif
Secondaryfont = 'Maven Pro'
Tertiaryfont = 'Josefin Sans', Georgia
// ExtraLight = 'Campton-ExtraLight', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif
// Light = 'Campton-ExtraLight', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif
Reg = 'Campton', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif
// Med = 'Campton-Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif
// Bold = 'Campton-Bold', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif
Fancy = 'DidotLTStd-Italic', 'Didot'