black = #222
lightblack = #4D4D4D
// primary = #79C7C1
// primary = #DE5241
primary = #fe9088
secondary = #094092
lightgray = #F5F5F5

Bodyfont = 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif
// Headerfont = 'nimbus-sans-l_bold','Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif
// Headerfont = 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif
Headerfont = 'Campton', 'Helvetica Neue', Helvetica, Arial, sans-serif
Secondaryfont = 'Maven Pro'
Tertiaryfont = 'Josefin Sans', Georgia
