black = #222
lightblack = #4D4D4D
// primary = #79C7C1
// primary = #DE5241
primary = #00DACA
secondary = #094092
lightgray = #F5F5F5
purple = #513596
pink = #fe9088
blue = #273d97
aqua = #28D0DE

Monofont = 'HarmoniaSansMono', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif
Lightfont = 'HarmoniaSansLight', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif
Bodyfont = 'Lato-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif
// Headerfont = 'nimbus-sans-l_bold','Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif
// Headerfont = 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif
Regularfont = 'HarmoniaSansRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif
Boldfont = 'HarmoniaSansBlack', 'Helvetica Neue', Helvetica, Arial, sans-serif
Headerfont = 'HarmoniaSansBold', 'Helvetica Neue', Helvetica, Arial, sans-serif
Mediumfont = 'HarmoniaSansSemibold', 'Helvetica Neue', Helvetica, Arial, sans-serif
Secondaryfont = 'Maven Pro', 'HarmoniaSansBold', 'Helvetica Neue', Helvetica, Arial, sans-serif