h1, h2, h3, h4, h5, h6
	font-family 'Montserrat'
	font-weight 400
	text-transform uppercase
	letter-spacing 0.08em
	color inherit
	
::selection
	background #0d0d0d
	color white

::-moz-selection
	background #0d0d0d
	color white

::-webkit-selection
	background #0d0d0d
	color white

.text-light h1, 
.text-light h2, 
.text-light h3, 
.text-light h4, 
.text-light h5, 
.text-light h6
	color white

h1
	font-size 66px
	line-height 80px
	color lightblack

h2
	font-size 56px
	line-height 66px

h3
	font-size 34px
	line-height 42px

h4
	font-size 27px
	line-height 34px

h5
	font-size 20px
	line-height 26px

h6
	fs(1.8rem)
	line-height 21px

h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong
	font-weight 700

div h1, div h2, div h3, div h4, div h5, div h6
	margin-top 30px

div h1:first-child, div h2:first-child, div h3:first-child, div h4:first-child, div h5:first-child, div h6:first-child
	margin-top 0px !important

h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h1, h2 + h2, h2 + h3, h2 + h4, h1 + h5, h2 + h6,
h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6,
h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6,
h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6,
h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6
	margin-top 10px
	
// h5.alttitle
// 	font-family Fancy
	
.alttitle
	font-family Secondaryfont
	font-weight 400
	fs(1.8rem)
	text-transform none
	letter-spacing 0.04em

.alttitle b, .alttitle strong
	font-weight 700

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	color #0d0d0d

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
	color primary

::-webkit-input-placeholder
	color #0d0d0d

:-moz-placeholder
	color #0d0d0d

::-moz-placeholder
	color #0d0d0d

:-ms-input-placeholder
	color #0d0d0d

.text-light
	color white
	::-webkit-input-placeholder
		color white
	:-moz-placeholder
		color white
	::-moz-placeholder
		color white
	:-ms-input-placeholder
		color white
	input[type=submit]:hover
		background white
		color #0d0d0d
	label
		color white
	a
		&:hover
			color white
	#backtotop
		color white
	ul
		&.filter
			li
				a
					color white
	.socialmedia-widget
		li
			a
				color white
	.skill
		.skill-bar
			.skill-active
				background white
	.tooltip
		color white

p
	fs(1.6rem)
	line-height 1.8

.column-2,
.column-3
	column-gap px(50)
	 
.column-2
	column-count 2
	
.column-3
	column-count 3